@charset "utf-8";

html, body {width:100%; height:100%; margin:0; padding:0}
body {-webkit-font-smoothing: antialiased}
p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, form, fieldset {margin:0; padding:0; -moz-box-sizing:border-box; box-sizing:border-box}
table {margin:0; padding:0; empty-cells:show; border-spacing:0}
a img, img {vertical-align:top}
img, fieldset {border:0}
ul, dl, dd {list-style:none; -moz-box-sizing:border-box; box-sizing:border-box}
button {border:0; background-color:#fff; cursor:pointer; -moz-box-sizing:border-box; box-sizing:border-box}
* > :focus {outline:0}


/* 모카데모 레이아웃 */
.moca_wrap {overflow:hidden; position:absolute; top:0; right:0; bottom:0; left:0}

.moca_aside {position:absolute; top:0px; bottom:30px; left:0; z-index:9; width:60px; background:#fff; box-shadow:2px 0px 5px 0px rgba(0,0,0,0.15); -moz-box-shadow:2px 0px 5px 0px rgba(0,0,0,0.15)}
.moca_aside h1 {display:inline-block; height:50px; width:60px; margin:0; background:url(../images/ico_moca_logo.png) no-repeat 50% 50%; text-indent:-9999px}
.moca_aside ul {position:relative; margin-top:55px}
.moca_aside ul li ~ li {margin-top:15px}
.moca_aside ul li button {width:100%; padding:10px 0; background:#fff; border:0; border-left:2px solid transparent; color:#8e8e8e; font-size:11px; font-weight:700; text-align:center}
.moca_aside ul li i {display:block; font-size:20px; text-align:center; color:#dce1e8}
.moca_aside ul li i + span {display:block; margin-top:5px}
.moca_aside ul li.active i {color:#188038}
.moca_aside ul li.active span {color:#000}
.moca_aside ul li.active button {border-left:2px solid #188038}
.moca_aside .etc {position:absolute; left:0; bottom:0; width:100%;}
.moca_aside .etc button {position:relative}
.moca_aside .etc .setting {height:60px; width:100%; border-top:1px solid #e4e9ef; font-size:20px; color:#a8b1be}
.moca_aside .etc .help {height:60px; width:100%; border-top:1px solid #e4e9ef;font-size:20px; color:#a8b1be}
.moca_aside .etc button:hover i {color:#3a3f47}
.moca_aside .etc button span {color:#666; position:absolute; font-family:sans-serif; top:15px; left:-25px; right:-76px; padding:5px 7px; z-index:-1; font-size:14px;  border-radius:2px; background:#fff; visibility:hidden; box-shadow:2px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow:2px 0px 5px 0px rgba(0,0,0,0.25); opacity:0; -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55); -webkit-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55); -moz-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55); transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.moca_aside .etc button span:before {content:''; width:0; height:0; border-top:5px solid transparent; border-bottom:5px solid transparent; border-right:5px solid #fff; position:absolute; left:-5px; top:8px}
.moca_aside .etc button:hover span {left:65px; visibility:visible; opacity:1; z-index:10}


.moca_container {position:absolute; top:0px; right:0; bottom:30px; left:60px}
.moca_container.on .moca_lnb {left:-250px; transition:.3s; -webkit-transition:.3s}
.moca_container.on .moca_mdi {left:0px; transition:.3s; -webkit-transition:.3s}
.moca_container.on .moca_lnb_toggle {left:206px; background:#188038; border:1px solid #188038; color:#fff}
.moca_container.on .lnb_split_area {display:none}

.moca_lnb {position:absolute; top:50px; bottom:0; left:0; width:249px; background:#f6f8fb; transition:.3s; -webkit-transition:.3s; border-right:1px solid #e5e7ef}
.moca_lnb_head {position:relative; border-bottom:1px solid #e4e9ef; padding:0; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_lnb_head .moca_lnb_autocomp {position:relative}
.moca_lnb_head .moca_lnb_autocomp:after {position:absolute; top:0px; left:0; width:40px; height:49px; background:url(../images/ico_ib_btn.png) no-repeat 50% 50%; content:''}
.moca_lnb_head .moca_lnb_autocomp .moca_input {height:49px; padding-left:40px; background:#f6f8fb; border:0}
.moca_lnb_titbox {position:relative; height:40px; padding:11px 5px; background:#188038; text-align:center; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_lnb_titbox h2 {padding:0; font-size:16px; line-height:1; font-weight:bold; color:#fff}
.moca_lnb .moca_tree {position:absolute; top:90px; right:0; bottom:0; left:0; border:0; background:#f6f8fb}
.lnb_split_area {display:block; position:absolute; top:0; right:-7px; z-index:50; width:7px; height:100%; font-size:0; cursor:e-resize}
.lnb_split_area:hover:after {content:''; position:absolute; top:50%; left:1px; z-index:50; width:6px; height:100px; margin-top:-50px; border-radius:3px; background:rgba(0,0,0,0.2)}
ul.moca_switch {position:absolute; top:0px; right:0; bottom:0; left:0}
ul.moca_switch > li {position:absolute; top:0px; right:0; bottom:0; left:0; height:100%; opacity:0; list-style:none; transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1)}
ul.moca_switch > li.active {transition-delay:.3s; z-index:2; opacity:1}

.moca_tree.workmenu ul,
.moca_tree.workmenu li {padding:0}
.moca_tree.workmenu > ul > li > span.moca_tree_tbx {display:block; height:20px; padding:10px; font-size:14px; line-height:22px; color:#333; border-bottom:1px solid #dedede}
.moca_tree.workmenu li .moca_checkbox_tree,
.moca_tree.workmenu li button.tvw_btn_close {display:none !important}
.moca_tree.workmenu ul li ul {margin:0; background: #f5f5f5; border-top:1px solid #dedede; border-bottom:1px solid #dedede}
.moca_tree.workmenu ul li.active > span.moca_tree_tbx {background-color:#434e5f; color:#fff}
.moca_tree.workmenu ul li > span.moca_tree_tbx:hover {text-decoration:none; background-color:#434e5f; color:#fff}
.moca_tree.workmenu li .moca_tree_btn {position:absolute; right:0; top:0; left:0; height:40px; width:100%; z-index:5; background-position:right 10px center !important}
.moca_tree.workmenu ul li ul > li > .moca_tree_tbx {display:block; height:20px; padding:7px 10px 7px 20px; font-size:12px; line-height:22px; color:#333}
.moca_tree.workmenu ul li ul > li > ul > li .moca_tree_tbx {display:block; height:20px; padding:7px 10px 7px 30px; font-size:11px; line-height:22px; color:#333}
.moca_tree.workmenu li span.moca_tree_tbx {position:relative}
/* .moca_tree.workmenu li span.moca_tree_tbx:after {content: "\f107"; font-family:'Font Awesome 5 Free'; color:#555; display:block; width:10px; height:10px; position:absolute; top:calc(50% - 5px); right:20px; opacity:0; line-height:10px; transform:rotate(-90deg); transition:0.5s transform} */
/* .moca_tree.workmenu li > span.moca_tree_tbx:hover:after {opacity:1; color:#fff; right:5px; transition:0.5s all} */
.moca_tree.workmenu ul li ul > li > .moca_tree_tbx {background:url(../images/ico_lnb_doc.png) no-repeat 20px 50%; padding-left:44px}
.moca_tree.workmenu ul li ul > li > span.moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li.active > .moca_tree_tbx {background:#434e5f url(../images/ico_lnb_doc_on.png) no-repeat 20px 50%}
.moca_tree.workmenu ul li ul > li#li000_1_1_0 > .moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li#li000_1_1_0.active > .moca_tree_tbx {background-image:url(../images/chart/ico_column_chart_on.png)!important}
.moca_tree.workmenu ul li ul > li#li000_1_1_1 > .moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li#li000_1_1_1.active > .moca_tree_tbx {background-image:url(../images/chart/ico_line_chart_on.png)!important}
.moca_tree.workmenu ul li ul > li#li000_1_1_2 > .moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li#li000_1_1_2.active > .moca_tree_tbx {background-image:url(../images/chart/ico_normal_distribution_chart_on.png)!important}
.moca_tree.workmenu ul li ul > li#li000_1_1_3 > .moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li#li000_1_1_3.active > .moca_tree_tbx {background-image:url(../images/chart/ico_radial_chart_on.png)!important}
.moca_tree.workmenu ul li ul > li#li000_1_1_4 > .moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li#li000_1_1_4.active > .moca_tree_tbx {background-image:url(../images/chart/ico_pie_chart_on.png)!important}
.moca_tree.workmenu ul li ul > li#li000_1_1_5 > .moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li#li000_1_1_5.active > .moca_tree_tbx {background-image:url(../images/chart/ico_scatter_chart_on.png)!important}
.moca_tree.workmenu ul li ul > li#li000_1_1_6 > .moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li#li000_1_1_6.active > .moca_tree_tbx {background-image:url(../images/chart/ico_area_chart_on.png)!important}
.moca_tree.workmenu ul li ul > li#li000_1_1_7 > .moca_tree_tbx:hover,
.moca_tree.workmenu ul li ul > li#li000_1_1_7.active > .moca_tree_tbx {background-image:url(../images/chart/ico_complex_chart_on.png)!important}


.moca_lnb_toggle {position:absolute; top:5px; left:-15px; width:30px; height:30px; border-radius:100%; z-index:99}

.moca_header {position:relative; background:#fff; height:50px; border-bottom:1px solid #e4e9ef; -moz-box-sizing:border-box; box-sizing:border-box; box-shadow:0px 1px 5px 0px rgba(0,0,0,0.07); -moz-box-shadow:0px 1px 5px 0px rgba(0,0,0,0.07); z-index:1}
.moca_header nav {float:left; position:relative; height:49px; margin-left:20px}
.moca_header nav ul {margin:0; padding:0; list-style-type:none; vertical-align:top}
.moca_header nav > ul > li {display:inline-block}
.moca_header nav > ul > li > button {display:inline-block; position:relative; font-weight:700; font-size:15px; padding:0 20px; color:#188038; height:49px; background:transparent; border:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; opacity: 0.4; transition:all 0.4s ease}
.moca_header nav > ul > li > button:hover {opacity:0.7}
.moca_header nav > ul > li.active > button {opacity:1}
.moca_header nav .line {height:3px; position:absolute; top:0; margin:0; background:#188038}

.moca_header .info {position:absolute; top:9px; right:20px}
.moca_header > ul {position:relative;}
.moca_header > ul:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.moca_header > ul > li {float:left;}
.moca_header > ul > li .info_photo {height:30px; width:30px; border-radius:100%; vertical-align:middle; font-size:30px; color:#999}
.moca_header > ul > li span {display:inline-block; line-height:1; padding:8px 0; vertical-align:middle}
.moca_header > ul > li button.btn_logout {display:inline-block; overflow:hidden; padding:8px 15px; background:#ffeecd; color:#ca8700; border:0; font-size:13px; border-radius:15px; text-align:center; line-height:1; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; -ms-transition:all .2s ease; transition:all .2s ease;}
.moca_header > ul > li button.btn_logout:hover {background-color:#f21f46; color:#fff}
.info_photo + span {margin-left:8px}
.moca_header > ul > li ~ li {margin-left:15px}


.moca_footer {position:absolute; left:0; right:0; bottom:0; width:100%; height:29px; border-top:1px solid #e4e9ef; background:#fff; z-index:9}
.moca_footer address {display:block; width:100%; padding-top:8px; font-style:normal; font-family:verdana; font-size:9px; color:#8a8a8a; text-align:center}

.moca_mdi {position:absolute; top:50px; right:0; bottom:0; left:250px; transition:.3s; -webkit-transition:.3s}
.moca_mdi .moca_tab_head {background:#f6f8fb}
.moca_mdi .moca_tab_body {border-color:#e4e9ef; border-width:1px 0 0 0; top:39px}
.moca_mdi .moca_tab_head,
.moca_mdi .moca_tab_scroll {height:40px}
.moca_mdi .moca_tab_ul {margin-top:4px}
.moca_mdi .moca_tab_ul,
.moca_mdi .moca_tab_list .moca_tab_label {height:35px}
.moca_mdi .moca_tab_list .moca_tab_label {background-color:#eef1f5; color:#a8b1bd; padding-right:30px}
.moca_mdi .moca_tab_list,
.moca_mdi .moca_tab_list.active {border:1px solid #e4e9ef; border-top:1px solid #e7ebf1}
.moca_mdi .moca_tab_list:hover {background:#fff; border-top:2px solid #188038}
.moca_mdi .moca_tab_list:hover button.moca_tab_label {background-color:#fff; color:#000}
.moca_mdi .moca_tab_list.active {border-top:1px solid #188038; box-shadow:inset 0px 1px 0 0px #188038}
/*.moca_mdi .moca_tab_list:first-child {margin-left:15px}*/
.moca_mdi button.moca_tab_close {top:7px; right:4px; width:20px; height:20px; background:url(../images/ico_dp_close.png) no-repeat 50% 50%; border-radius:100%}
.moca_mdi button.moca_tab_close:hover {background:#eee url(../images/ico_dp_close.png) no-repeat 50% 50%}
.moca_mdi .moca_tab_listarea {right:46px; left:30px}
.moca_mdi .moca_tab_control {width:72px; padding-top:8px}
.moca_mdi .moca_tab_list.active button.moca_tab_label {background:transparent}

.moca_cont_wrap {position:absolute; top:0; right:0; bottom:0; left:0; padding:15px; min-width:640px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.moca_cont_wrap2 {position:relative; padding:15px; min-width:640px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}

.moca_grid {position:absolute; top:136px; right:15px; bottom:30px; left:15px}
.moca_grid.btn {bottom:70px}
.moca_grid.title {top:166px}
.moca_grid.sc_row1 {top:108px}
.moca_grid.sc_row2 {top:136px}
.moca_grid.sc_row3 {top:164px}
.moca_grid.sc_row4 {top:192px}

.moca_titbox {position:relative; width:100%; min-height:24px; margin:0 0 10px; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.moca_titbox:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.moca_titbox h3 {padding:0; font-size:20px; line-height:24px; font-weight:600; color:#141414; float:left}
.moca_titbox h4 {padding:0; font-size:15px; line-height:24px; font-weight:600; color:#188038; float:left}
/* .moca_titbox h4:after {content:""; width:50px; height:3px; position:absolute; top:0px; left:0px; background:#188038} */
.moca_titbox .lta {float:left; margin-right:-5px; text-align:left}
.moca_titbox .lta > * {float:left; margin-right:4px}
.moca_titbox .rta {float:right; margin-left:-5px; text-align:right}
.moca_titbox .rta > * {float:left; margin-left:4px}
.moca_titbox .lta .moca_combo {margin-left:10px}
.moca_titbox + .moca_titbox {margin-top:10px}

.modulebox {position:relative}
.modulebox + .modulebox {margin-top:40px}
.moca_titbox + .modulebox {margin-top:20px}

.moca_shbox {position:relative; padding:10px 10px 10px 20px; margin-top:10px; background:#eff2f4; border:1px solid #e5ebf2; border-radius:3px; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_shbox .tb {border:0}
.moca_shbox .tb .tb_th,
.moca_shbox .tb .tb_td {border:0; background:transparent; height:22px}
.moca_shbox .tb .tb_th {color:#272066; padding:0 3px 0 0; font-weight:700; text-align:left}
.moca_shbox .tb .tb_td {padding:2px 30px 2px 0}
.moca_shbox .tb tr:first-child .tb_td {padding-top:0}
.moca_shbox .tb tr:last-child .tb_td {padding-bottom:0}
.moca_shbox .shbox_inner {position:relative; padding:0; margin:0 105px 0 0}
.moca_shbox .btn_shbox {position:absolute; bottom:10px; right:20px; width:100px; height:24px; margin:-12px 0 0; text-align:right}


.button {display:inline-block; position:relative; padding:0 14px; height:24px; border-radius:3px}
.button i {font-size:11px; vertical-align:middle; padding-bottom:2px}
.button i + span {margin-left:6px; vertical-align:middle}
.button.icon span {font-size:0}
.button.icon i + span {margin:0}
.button.icon i {font-size:14px; padding-bottom:0}

.btn_sc {background:#006ba8; color:#fff; font-weight:700; line-height:1; border-radius:14px; padding:0 18px}
.btn_sc:hover {background:#066296}

.btn_cm {background:#1ba260; color:#fff; font-weight:700; line-height:1}
.btn_cm:hover {background:#1a9163}

.btn_df {background:#daf0e4; color:#1b7343; font-size:12px; padding:0 10px}
.btn_df:hover {background:#adf2cd}

.moca_shbox + .moca_titbox {margin-top:10px}

.div_bar {display:inline-block; width:1px; height:24px; background:#e4e9ef; margin:0 4px 0 8px !important}

.btnbox {position:relative; min-height:30px}
.btnbox:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.btnbox .lta {float:left; margin-right:-5px; text-align:left}
.btnbox .lta > * {float:left; margin-right:4px}
.btnbox .rta {float:right; margin-left:-5px; text-align:right}
.btnbox .rta > * {float:left; margin-left:4px}
.btnbox .cta {text-align:center}
.btnbox .btn_cm {height:30px; border-radius:15px}

.moca_titbox.cm .btn_df {background:#daf0e4; color:#1b7343; font-size:13px; padding:0 14px}

/* moca charts */
.crt_box {background-color:#fff; border:1px solid #e7ebf3; padding:10px; height:400px; width:100%; border-radius:.5rem; box-sizing:border-box; -moz-box-sizing:border-box; -moz-box-shadow:0 6px 14px 0 rgba(33,35,68,.05); -webkit-box-shadow:0 6px 14px 0 rgba(33,35,68,.05); box-shadow:0 6px 14px 0 rgba(33,35,68,.05)}
.crt_box2 {background-color:#fff; border:1px solid #e7ebf3; padding:10px; width:100%; border-radius:.5rem; box-sizing:border-box; -moz-box-sizing:border-box; -moz-box-shadow:0 6px 14px 0 rgba(33,35,68,.05); -webkit-box-shadow:0 6px 14px 0 rgba(33,35,68,.05); box-shadow:0 6px 14px 0 rgba(33,35,68,.05)}
.crt_box2 div {box-sizing:border-box; -moz-box-sizing:border-box}
.lybox ~ .lybox {margin-top:10px}

/* layout */
.lybox {position:relative}/* layout 박스 */
.lybox:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.ly_col {float:left; min-width:15px; min-height:80px; padding:0 10px; margin:0; box-sizing:border-box; -moz-box-sizing:border-box}
.lybox.shuttle .ly_col {padding:0 40px}
.ly_col:first-child {padding-left:0 !important}
.ly_col:last-child {padding-right:0 !important}
.col_1 {width:10%}
.col_2 {width:20%}
.col_3 {width:30%}
.col_333 {width:33.333%}
.col_4 {width:40%}
.col_5 {width:50%}
.col_6 {width:60%}
.col_7 {width:70%}
.col_8 {width:80%}
.col_9 {width:90%}

/* table */
.tbbox {position:relative; padding:0; margin:0; border-top:2px solid #434e5f}
table.tbl {width:100%; border-collapse:collapse; border-top:0; border-left:1px hidden transparent; border-right:1px hidden transparent; table-layout:fixed; clear:both}
table.tbl th, 
table.tbl td {height:40px; border:1px solid #e2e2e2; border-top:none; vertical-align:middle; -moz-box-sizing:border-box; box-sizing:border-box}
table.tbl thead th {text-align:center; background:#fafafa; padding:3px 2px}
table.tbl th {font-weight:bold; color:#222; text-align:left; background:#fafafa; padding:3px 5px 3px 10px}
table.tbl td {padding:6px 10px; color:#555; background:#fff; word-break:break-all}
table.tbl td > *:last-child {margin-right:0 !important}
table.tbl th .moca_input:read-only{width:100%; background:#f6fafe; border:0; color:#222; font-weight:bold}
table.tbl td.sct pre,
table.tbl td.sct {color:#010101; font-size:13px; font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace !important}

table.tbl.y {border-top:1px solid #5f5039}
table.tbl.y th {background:#f6efdd}

ul.cy1 {position:relative}
ul.cy1 li {position:relative; padding-left:8px; margin-top:5px; font-weight:normal; color:#222}
ul.cy1 li:before {content:''; position:absolute; top:8px; left:2px; background:#888; width:3px; height:3px}
ul.cy1 li:first-child {margin-top:0}

/* table layout */
table.tbl_ly {width:100%; table-layout:auto; max-width:100%; min-height:20px; border-collapse:collapse; background:transparent}
table.tbl_ly tr td {height:24px; border:0 !important; padding:0 2px; background:transparent; vertical-align:middle}
table.tbl_ly tr td:first-child {padding-left:0}
table.tbl_ly tr td:last-child {padding-right:0}

.toast_msg {position:absolute; left:0px; right:0px; bottom:0px; height:30px; padding:7px 15px; background:#e6f4ea; -moz-box-sizing:border-box; box-sizing:border-box}
.toast_msg p {display:block; font-size:12px; line-height:18px; color:#000; padding-left:25px; background:url(../images/ico_moca_toast.png) no-repeat 0 50%; -moz-box-sizing:border-box; box-sizing:border-box}

.moca-example {position:relative; padding:45px 15px 15px; background-color:#fff; border-color:#ddd; border-width:1px; border-style:solid; border-radius:4px; -moz-box-sizing:border-box; box-sizing:border-box}
.moca-example h5 {position:absolute; top:15px; left:15px; font-size:12px; font-weight:700; color:#959595; letter-spacing:1px}
.moca-example .moca_messagebox {border-color:#e5e5e5 #eee #eee; border-style:solid; border-width:1px; -webkit-box-shadow:0 3px 6px rgba(0,0,0,.05); box-shadow: 0 3px 6px rgba(0,0,0,.05)}

.content-panel {padding:20px; background-color: #f8fff6; border:1px solid #e2eee3; border-radius:5px; margin-bottom:20px; -moz-box-sizing:border-box; box-sizing:border-box}
.content-panel ul {position:relative}
.content-panel li {position:relative; padding-left:8px; font-weight:normal; color:#222}
.content-panel li:before {content:''; position:absolute; top:8px; left:0; background:#222; width:3px; height:3px; border-radius:100%}
.content-panel li + li {margin-top:8px}


/*COMMON CLASS*/
/*CLEAR*/
.clearfix:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.clearfix {* zoom:1}
/*DISPLAY*/
.fl_po {position:absolute; left:50%; top:50%}
.pore {position:relative}
.dinb {display:inline-block}
.vat {vertical-align:top !important}
.vam {vertical-align:middle !important}
.vab {vertical-align:bottom!important}
.tdu {text-decoration:underline}
.tdn {text-decoration:none}
.hide {display:none}
.show {display:block}
.mh100{min-height:100%}
.wauto{width:auto !important;}
.pnone {pointer-events:none}
/*OVERFLOW*/
.ofh {overflow:hidden !important}
.ofa {overflow:auto !important}
.ofya {overflow-y:auto !important}
/*FLOAT*/
.fl {float:left}
.fr {float:right}
/*ALIGN*/
.tal {text-align:left !important}
.tac {text-align:center !important}
.tar {text-align:right !important}
/*mask*/
.mask {text-align:right !important; letter-spacing:-0.3px;}
.fix {table-layout:fixed !important}
.fix_margin {height:100px}
/*한글만입력_IE*/
input[type=text].kor {-webkit-ime-mode:active; -moz-ime-mode:active; -ms-ime-mode:active; ime-mode:active}
/*MARGIN*/
.mauto {margin:0 auto !important}
.ma0 {margin:0 !important}

.mr0 {margin-right:0 !important}
.mr1 {margin-right:1px !important}
.mr2 {margin-right:2px !important}
.mr3 {margin-right:3px !important}
.mr4 {margin-right:4px !important}
.mr5 {margin-right:5px !important}
.mr6 {margin-right:6px !important}
.mr7 {margin-right:5px !important}
.mr8 {margin-right:8px !important}
.mr9 {margin-right:9px !important}
.mr10 {margin-right:10px !important}
.mr11 {margin-right:11px !important}
.mr12 {margin-right:12px !important}
.mr13 {margin-right:13px !important}
.mr14 {margin-right:14px !important}
.mr15 {margin-right:15px !important}
.mr18 {margin-right:18px !important}
.mr20 {margin-right:20px !important}
.mr23 {margin-right:23px !important}
.mr24 {margin-right:24px !important}
.mr30 {margin-right:30px !important}
.mr40 {margin-right:40px !important}
.mr50 {margin-right:50px !important}

.mt0 {margin-top:0 !important}
.mt1 {margin-top:1px !important}
.mt2 {margin-top:2px !important}
.mt3 {margin-top:3px !important}
.mt4 {margin-top:4px !important}
.mt5 {margin-top:5px !important}
.mt6 {margin-top:6px !important}
.mt7 {margin-top:7px !important}
.mt8 {margin-top:8px !important}
.mt9 {margin-top:9px !important}
.mt10 {margin-top:10px !important}
.mt11 {margin-top:11px !important}
.mt12 {margin-top:12px !important}
.mt13 {margin-top:13px !important}
.mt14 {margin-top:14px !important}
.mt15 {margin-top:15px !important}
.mt16 {margin-top:16px !important}
.mt18 {margin-top:18px !important}
.mt19 {margin-top:19px !important}
.mt20 {margin-top:20px !important}
.mt22 {margin-top:22px !important}
.mt23 {margin-top:23px !important}
.mt24 {margin-top:24px !important}
.mt25 {margin-top:25px !important}
.mt26 {margin-top:26px !important}
.mt27 {margin-top:27px !important}
.mt28 {margin-top:28px !important}
.mt30 {margin-top:30px !important}
.mt31 {margin-top:31px !important}
.mt33 {margin-top:33px !important}
.mt35 {margin-top:35px !important}
.mt36 {margin-top:36px !important}
.mt37 {margin-top:37px !important}
.mt38 {margin-top:38px !important}
.mt39 {margin-top:39px !important}
.mt40 {margin-top:40px !important}
.mt41 {margin-top:41px !important}
.mt42 {margin-top:42px !important}
.mt43 {margin-top:43px !important}
.mt44 {margin-top:44px !important}
.mt45 {margin-top:45px !important}
.mt46 {margin-top:46px !important}
.mt47 {margin-top:47px !important}
.mt48 {margin-top:48px !important}
.mt49 {margin-top:49px !important}
.mt50 {margin-top:50px !important}
.mt60 {margin-top:60px !important}

.ml0 {margin-left:0 !important}
.ml1 {margin-left:1px !important}
.ml2 {margin-left:2px !important}
.ml3 {margin-left:3px !important}
.ml4 {margin-left:4px !important}
.ml5 {margin-left:5px !important}
.ml6 {margin-left:6px !important}
.ml7 {margin-left:7px !important}
.ml8 {margin-left:8px !important}
.ml9 {margin-left:9px !important}
.ml10 {margin-left:10px !important}
.ml11 {margin-left:11px !important}
.ml12 {margin-left:12px !important}
.ml13 {margin-left:13px !important}
.ml14 {margin-left:14px !important}
.ml15 {margin-left:15px !important}
.ml16 {margin-left:16px !important}
.ml17 {margin-left:17px !important}
.ml18 {margin-left:18px !important}
.ml19 {margin-left:19px !important}
.ml20 {margin-left:20px !important}
.ml21 {margin-left:21px !important}
.ml22 {margin-left:22px !important}
.ml23 {margin-left:23px !important}
.ml24 {margin-left:24px !important}
.ml25 {margin-left:25px !important}
.ml26 {margin-left:26px !important}
.ml28 {margin-left:28px !important}
.ml30 {margin-left:30px !important}
.ml31 {margin-left:31px !important}
.ml35 {margin-left:35px !important}
.ml40 {margin-left:40px !important}
.ml50 {margin-left:50px !important}
.ml60 {margin-left:60px !important}
.ml80 {margin-left:80px !important}
.ml90 {margin-left:90px !important}
.ml100 {margin-left:100px !important}
.ml150 {margin-left:150px !important}

.mb0 {margin-bottom:0 !important}
.mb1 {margin-bottom:1px !important}
.mb2 {margin-bottom:2px !important}
.mb3 {margin-bottom:3px !important}
.mb4 {margin-bottom:4px !important}
.mb5 {margin-bottom:5px !important}
.mb6 {margin-bottom:6px !important}
.mb7 {margin-bottom:7px !important}
.mb8 {margin-bottom:8px !important}
.mb9 {margin-bottom:9px !important}
.mb10 {margin-bottom:10px !important}
.mb11 {margin-bottom:11px !important}
.mb12 {margin-bottom:12px !important}
.mb13 {margin-bottom:13px !important}
.mb14 {margin-bottom:14px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb24 {margin-bottom:24px !important}
.mb30 {margin-bottom:30px !important}
.mb35 {margin-bottom:35px !important}
.mb40 {margin-bottom:40px !important}
.mb50 {margin-bottom:50px !important}
.mb64 {margin-bottom:64px !important}
.mb74 {margin-bottom:74px !important}
.mb80 {margin-bottom:80px !important}
.mb100 {margin-bottom:100px !important}

/*PADDING*/
.p0 {padding:0 !important}
.p4 {padding:4px !important}
.p10 {padding:10px !important}
.p24 {padding:24px !important}

.pl0 {padding-left:0 !important}
.pl4 {padding-left:4px !important}
.pl6 {padding-left:6px !important}
.pl8 {padding-left:8px !important}
.pl12 {padding-left:12px !important}
.pl20 {padding-left:20px !important}
.pl24 {padding-left:24px !important}

.pr0 {padding-right:0 !important}
.pr4 {padding-right:4px !important}
.pr6 {padding-right:6px !important}
.pr8 {padding-right:8px !important}
.pr10 {padding-right:10px !important}
.pr12 {padding-right:12px !important}
.pr20 {padding-right:20px !important}
.pr24 {padding-right:24px !important}

.pt0 {padding-top:0 !important}
.pt4 {padding-top:4px !important}
.pt6 {padding-top:6px !important}
.pt8 {padding-top:8px !important}
.pt10 {padding-top:10px !important}
.pt12 {padding-top:12px !important}
.pt20 {padding-top:20px !important}
.pt24 {padding-top:24px !important}

.pb0 {padding-bottom:0 !important}
.pb4 {padding-bottom:4px !important}
.pb5 {padding-bottom:6px !important}
.pb8 {padding-bottom:8px !important}
.pb10 {padding-bottom:10px !important}
.pb12 {padding-bottom:12px !important}
.pb20 {padding-bottom:20px !important}
.pb24 {padding-bottom:24px !important}

/*TEXT COLOR-orange*/
.txt_orange {color:#F45324 !important}
/*TEXT COLOR-mint*/
.txt_blue {color:#006EB9 !important}
/*TEXT COLOR-gray*/
.txt_gray {color:#666 !important}
/*TEXT COLOR-black*/
.txt_black {color:#111 !important}
/*TEXT COLOR-red*/
.txt_red {color:#ff3333 !important}
/*TEXT COLOR-green*/
.txt_green {color:#7faf24 !important}
/*TEXT COLOR-purple*/
.txt_purple {color:#b852ff !important}
/*TEXT COLOR-disabled*/
.txt_disabled {color:#CCCCCC !important}
/*TEXT bold*/
.txt_b {font-weight:700 !important}
.txt_n {font-weight:normal !important}
.txt_bold {font-weight:700}
.txt_normal {font-weight:normal}
/*TEXT size*/
.txt_12 {font-size:12px !important}
.txt_14 {font-size:14px !important}
.txt_16 {font-size:16px !important}

.blind {visibility:visible;	position:absolute; overflow:hidden; clip:rect(0 0 0 0); margin:-1px; width:1px; height:1px; top:auto; left:auto; font-size:medium; line-height:normal}
.hidden {overflow:hidden !important; position:absolute !important; top:0 !important; left:-2000em !important; line-height:0 !important;}


[data-tooltip-text]:hover {
position: relative;
}

[data-tooltip-text]:after {
-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

background-color: rgba(0, 0, 0, 0.8);

-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

color: #FFFFFF;
font-size: 12px;
margin-bottom: 10px;
padding: 7px 12px;
position: absolute;
width: auto;
min-width: 50px;
max-width: 300px;
word-wrap: break-word;

z-index: 9999;

opacity: 0;
right: -9999px;
top: 90%;

content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
top: 130%;
right: 0;
opacity: 1;
}


/*스크롤*/
.moca_scrollY_type1::-webkit-scrollbar{-webkit-appearance: none;}  /* 기본 스크롤바를 안보이게 함 */
.moca_scrollY_type1::-webkit-scrollbar-track-piece{background-color:#f1f1f1}  /* 양 끝 화살표와 몸통 바를 제외한 길 */
.moca_scrollY_type1::-webkit-scrollbar:vertical{width:18px;}  /* 가로 스크롤바의 크기, 세로는 horizontal을 vertical로 바꾸면 된다 */
.moca_scrollY_type1::-webkit-scrollbar-thumb{background-color:#c1c1c1;border:2px solid #f1f1f1;}   /* 실제로 움직이는 몸통 바 */
.moca_scrollY_type1::-webkit-scrollbar-button:start:decrement:vertical{
  /* 세로 스크롤의 위 화살표 부분 */
  width:16px;height:16px; background:#f1f1f1 url(../images/ico_scroll_arrow.png) no-repeat 0 0px;}
.moca_scrollY_type1::-webkit-scrollbar-button:end:increment:vertical{
  /* 세로 스크롤의 아래 화살표부분 */
  width:16px;height:16px; background:#f1f1f1 url(../images/ico_scroll_arrow.png) no-repeat 0 -16px;}
.moca_scrollY_type1::-webkit-scrollbar-button:start:decrement:horizontal{
  /* 가로 스크롤의 왼쪽 화살표 부분 */
  width:16px;height:16px; background:#f1f1f1 url(../images/ico_scroll_arrow.png) no-repeat 0 -48px;}
.moca_scrollY_type1::-webkit-scrollbar-button:end:increment:horizontal{
  /* 가로 스크롤의 오른쪽 화살표부분 */
  width:16px;height:16px; background:#f1f1f1 url(../images/ico_scroll_arrow.png) no-repeat 0 -32px;}
  
  
  
  