 
@media all and (max-width:1279px) {
	html{overscroll-behavior: contain;}
	.moca_tree.workmenu ul li ul > li > .moca_tree_tbx{height:30px; line-height:30px}
	.moca_header .info_photo {float: left; margin-top: 5px;}
	.moca_header .info{margin-right:0}
	.moca_header .gnb .info_photo + span{display:none}
	.moca_titbox{display:none}
    .moca_wrap{min-width:unset}
    .moca_shbox.slim{padding:10px 8px 0}
    .moca_shbox.slim .moca_checkbox_label{margin-right:5px !important}
    .moca_shbox .tb{padding-right:10px}
    .moca_shbox .tb .tb_td{padding:0;}
    .moca_shbox .btn_shbox .button{padding:5px 7px}
    /*.moca_scrollY_type1{display:none}*/
    .moca_aside{background:none}
    .noheader ~ div .moca_aside.on, .moca_aside.on{top:0; bottom:auto}
    .noheader ~ div .moca_aside.on.bottom, .moca_aside.on.bottom{top:auto; bottom:91px}
    .moca_mdi .moca_tab_listarea{right:35px; left:37px}
    .moca_container{left:0}
   	.moca_header.on{display:none}
    .moca_container:not(.on) > div[tag="moca:mdi"]{display:none}
    .moca_container:not(.on) > div[tag="moca:lnb"] .moca_lnb{width:100%}
    
    .moca_lnb_toggle{left:3px; top:13px}
    .moca_aside.on .moca_lnb_toggle{top:8px}
    
    .moca_container.on .moca_mdi{top:0;bottom:0}
    .moca_header nav{display:none}
	.moca_header h1{ position: relative;top: 6px; text-align: center;margin: 0 auto; left: 0;}
	.grid_total{margin-right:5px !important}
	.moca_aside ul:last-child{display:none}
	.moca_mdi .moca_tab_body{bottom:0}
	.moca_mdi .moca_tab_listarea{overflow-x:auto;}
	.moca_grid_list .moca_grid_body > table > tbody > tr > td .span_txt{ text-overflow: ellipsis; overflow: hidden;  white-space: nowrap; position: relative; max-width: calc(100% - 59px); display: inline-block; line-height: 17px; vertical-align: middle}
	.moca_grid_list .moca_grid_body {
	  -ms-overflow-style: none; /* IE, Edge */
	  scrollbar-x-width: none; /* Firefox */
	}
	.moca_grid_list .moca_grid_body::-webkit-scrollbar {
	  display: none; /* Chrome, Safari, Opera */
	}
	.moca_table .w40{width:40% !important;}
	.moca_table .w50{width:50% !important;}
	.moca_table .w60{width:60% !important;}
	.toast_msg{display:none}
	.moca_input_color{padding:0}
	/*multiMdi*/
	.moca_mdi .moca_tab_control{width:35px; padding:0}
	.moca_tab .moca_tab_control .moca_tab_division{display:none}
	.moca_tab .moca_tab_control .moca_tab_allclose{left: 0; width: 22px; height: 100%; top: 0; background-position: 50%}
	.moca_tab .moca_tab_control .moca_tab_bottom{left: 0px; width: 22px; height: 100%; top: 0; background-position: 50%}
	.moca_tab .moca_tab_control .moca_tab_top{left: 0px; width: 22px; height: 100%; top: 0; background-position: 50%}
	
	
	/*layerTab*/
	.moca_layer_tab_list{max-width:7.7rem}
	.moca_layer_tab_list > .tab_bg{min-width:100px}
	.moca_layer_tab_list > button{padding:0 5px}
	/*divForm*/
	.moca_table_cont > div[type="tbody"] > div[type="tr"] {width:100%}
	/*.moca_table_cont > div[type="tbody"] > div[type="tr"] > div[type="td"], div[type="tr"]{width:100%}*/
	.moca_table_cont > div[type="tbody"] > div[type="tr"] > div[type="th"]{text-align:center}
	/*multiCalendar*/
	.moca_ica.ipt_hhmmss{height:53px;}
	.moca_ica.ipt_hhmmss > .ica_ipt{height:50px !important; border:0 !important;}
	.moca_ica.ipt_hhmmss .ica_ipt > .moca_input{width:calc(100% - 25px)!important; height:50%; border:1px solid #d7d7de !important;}
	.moca_ica.ipt_hhmmss .ica_ipt > .moca_input:first-child{margin-bottom:3px}
	.moca_ica.ipt_hhmmss .ica_ipt > i{display:none}
	.moca_ica.ipt_hhmmss .ica_ipt > .moca_ica_btn{border-radius:2px; height:53px;border:1px solid #d7d7de !important; background-position:50%}
	.moca_ica.ipt_hhmmss .ica_ipt > .moca_ica_btn:before{content:none}
	.moca_calendar_row .moca_calendar_fl .cmb_hhmmss:first-child{}
	.moca_calendar_fromto.vertical{width:264px; height:auto}
	.moca_calendar_fromto.vertical .moca_calendar_header{height:20px}
	.moca_calendar_fromto.vertical .moca_calendar{padding-bottom:4px}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl{width:100%}
	.moca_calendar_fromto.vertical .moca_calendar_lta{position:relative; width:auto; overflow:hidden}
	.moca_calendar_fromto.vertical .moca_calendar_lta .moca_calendar_list {padding: 8px 0px 0 8px;height:auto; float:left}
	.moca_calendar_fromto.vertical .moca_calendar_lta .moca_calendar_footer{float:right; padding:4px 4px 0 0}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl:nth-child(1){padding-right:0; background:#242731; padding-bottom:8px}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl:nth-child(1) > .moca_calendar{background:none;}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl:nth-child(2){padding-left:0; padding-bottom:8px}
	.moca_calendar_fromto.vertical .moca_calendar_list li button:before{top:6px}
	.moca_calendar_fromto.vertical .moca_calendar_list li.active button:after{top:-2px; left: 0; border-radius: 3px; height: 100%;}
	.moca_calendar_fromto.vertical .moca_calendar_list li.active button{width:100%; padding:0 5px; text-indent:-3px}
	.moca_calendar_fromto.vertical .moca_calendar_lta .moca_calendar_list li {width:50px}
	.moca_calendar_fromto.vertical .moca_calendar_rta{position:relative;left:0; padding:0}
	.moca_calendar .moca_calendar_body table td button,
	.moca_calendar_fromto.vertical .moca_calendar .moca_calendar_body table th, 
	.moca_calendar .moca_calendar_body table td{height:24px}
	.moca_calendar_fromto.vertical .moca_calendar .moca_calendar_body{padding-bottom:0}
	.moca_calendar_fromto.vertical .moca_calendar_footer button{padding:0 10px;}
	.moca_calendar_fromto.vertical button.moca_calendar_dynamic{height:20px; top:0; line-height:20px}
	.moca_calendar_fromto.vertical .moca_calendar_btn_prev,
	.moca_calendar_fromto.vertical .moca_calendar_btn_next, 
	.moca_calendar_fromto.vertical .moca_calendar_btn_prev_year, 
	.moca_calendar_fromto.vertical .moca_calendar_btn_prev_month,
	.moca_calendar_fromto.vertical .moca_calendar_btn_next_month,
	.moca_calendar_fromto.vertical .moca_calendar_btn_next_year{height:20px; top:0}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl .moca_input{margin:0 auto;}
	
	/*layerPop*/
	.moca_popup .moca_popup_header .moca_popup_title{max-width: 275px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
	.moca_pop_cont_wrap{min-width:unset}
	.moca_pop_cont_wrap.flex .lybox.flex{flex-direction:column}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column{width:100% !important}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column:nth-child(1){padding-bottom:7.5px;}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column:nth-child(2){padding-top:7.5px; z-index:1}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column:nth-child(2) > .ly_col_cont{padding-left:0 !important}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column:nth-child(2):not([style*="display:none"]) + .reply_bg{position: absolute; left: 0; right: 0; bottom: 0; background: #ced7dc; top: 50%; opacity: 0.3;}
	.moca_pop_cont_wrap.flex .lybox .ly_column .scrollX_area{width: 100%; position: absolute; bottom:0; overflow-x:auto;}
	
	.moca_table.maxRow {height:60px; overflow:auto} 
	.fullcalendar .lunar{display: block; margin: 0; font-size:10px; letter-spacing: -1.1px;}
}