 
@media all and (max-width:1279px) {
	html{overscroll-behavior: contain;}
	.moca_titbox{display:none}
    .moca_wrap{min-width:unset} 
    .moca_shbox .tb .tb_td{padding:0}
    .moca_shbox .btn_shbox .button{padding:5px 7px}
    /*.moca_scrollY_type1{display:none}*/
    .moca_aside{background:none}
    .moca_aside.on{top:0; bottom:auto}
    .moca_mdi .moca_tab_listarea{right:43px}
    .moca_container{left:0}
   	.moca_header.on{display:none}
    .moca_container:not(.on) > div[tag="moca:mdi"]{display:none}
    .moca_container:not(.on) > div[tag="moca:lnb"] .moca_lnb{width:100%}
    .moca_lnb_toggle{left:3px; top:8px}
    .moca_container.on .moca_mdi{top:0}
    .moca_header nav{display:none}
	.moca_header h1{ position: relative;top: 6px; text-align: center;margin: 0 auto; left: 0;}
	.grid_total{margin-right:5px !important}
	.moca_aside ul:last-child{display:none}
	.moca_mdi .moca_tab_body{bottom:0}
	.moca_mdi .moca_tab_listarea{overflow-x:auto;}
	.moca_grid_list .moca_grid_body {
	  -ms-overflow-style: none; /* IE, Edge */
	  scrollbar-x-width: none; /* Firefox */
	}
	.moca_grid_list .moca_grid_body::-webkit-scrollbar {
	  display: none; /* Chrome, Safari, Opera */
	}
	.toast_msg{display:none}
	.moca_input_color{padding:0}
	/*multiMdi*/
	.moca_mdi .moca_tab_control{width:30px}
	.moca_tab .moca_tab_control .moca_tab_division{display:none}
	.moca_mdi .moca_tab_control .moca_tab_allclose{left:0}
	
	
	/*multiCalendar*/
	.moca_calendar_fromto.vertical{width:300px; height:auto}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl{width:100%}
	.moca_calendar_fromto.vertical .moca_calendar_lta{position:relative; width:auto; height:40px}
	.moca_calendar_fromto.vertical .moca_calendar_lta .moca_calendar_list {height:auto; float:left; padding-top:11px}
	.moca_calendar_fromto.vertical .moca_calendar_lta .moca_calendar_footer{float:right; padding:8px 8px 0 0}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl:nth-child(1){padding-right:0; background:#242731; padding-bottom:8px}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl:nth-child(1) > .moca_calendar{background:none;}
	.moca_calendar_fromto.vertical .moca_calendar_row .moca_calendar_fl:nth-child(2){padding-left:0; padding-bottom:8px}
	.moca_calendar_fromto.vertical .moca_calendar_list li button:before{top:6px}
	.moca_calendar_fromto.vertical .moca_calendar_list li.active button:after{top:-2px; left: 0; border-radius: 3px; height: 100%;}
	.moca_calendar_fromto.vertical .moca_calendar_list li.active button{width:100%; padding:0 5px; text-indent:-3px}
	.moca_calendar_fromto.vertical .moca_calendar_lta .moca_calendar_list li {width:50px}
	.moca_calendar_fromto.vertical .moca_calendar_rta{position:relative;left:0; padding:0}
	/*layerPop*/
	.moca_pop_cont_wrap{min-width:unset}
	.moca_pop_cont_wrap.flex .lybox.flex{flex-direction:column}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column{width:100% !important}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column:nth-child(1){padding-bottom:7.5px;}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column:nth-child(2){padding-top:7.5px; z-index:1}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column:nth-child(2) > .ly_col_cont{padding-left:0 !important}
	.moca_pop_cont_wrap.flex .lybox.flex .ly_column:nth-child(2):not([style*="display:none"]) + .reply_bg{position: absolute; left: 0; right: 0; bottom: 0; background: #ced7dc; top: 50%; opacity: 0.3;}
	.moca_pop_cont_wrap.flex .lybox .ly_column .moca_table{height:86px}
	.moca_pop_cont_wrap.flex .lybox .ly_column .scrollX_area{width: 100%; position: absolute; bottom:0; overflow-x:auto;}
}