 @charset "utf-8";


@font-face {font-family: 'Spoqa Han Sans Bold';  font-weight: 700;  src: local('Spoqa Han Sans Bold'), url('webfonts/SpoqaHanSansBold.woff') format('woff')}
@font-face {font-family: 'Spoqa Han Sans';  font-weight: 400; src: local('Spoqa Han Sans Regular'),  url('webfonts/SpoqaHanSansRegular.woff') format('woff')}
@font-face {font-family: 'Spoqa Han Sans Light'; font-weight: 300; src: local('Spoqa Han Sans Light'),  url('webfonts/SpoqaHanSansLight.woff') format('woff')}
@font-face {font-family: 'Spoqa Han Sans Thin';  font-weight: 100;  src: local('Spoqa Han Sans Thin'), url('webfonts/SpoqaHanSansThin.woff') format('woff')}

/* RESET */
html,body {height:100%; margin:0; padding:0}
body {position:relative; font-size:12px; font-family:'Spoqa Han Sans', '맑은고딕', 'Malgun Gothic', dotum, Verdana, Sans-serif !important; color:#555}

legend, caption {position:absolute; height:1px; color:trnasparent; overflow:hidden; clip:rect(0 0 0 0); margin:-1px; padding:0}

/* MOCA Checkbox, radio */
.moca_radio, 
.moca_checkbox {vertical-align:middle; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_radio:after, 
.moca_checkbox:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.moca_radio .moca_radio_li,
.moca_checkbox .moca_checkbox_li {float:left; position:relative; margin-right:15px; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_radio .moca_radio_li:last-child,
.moca_checkbox .moca_checkbox_li:last-child {margin-right:0}
.moca_radio_input,
.moca_checkbox_input {}
.moca_radio_label,
.moca_checkbox_label {font-size:13px; line-height:1em; padding:9px 0 8px}

.moca_radio_input,
.moca_checkbox_input {position:absolute; width:12px; height:12px; filter:alpha(opacity=0); opacity:0}
.moca_radio_input:focus + .moca_radio_label:before,
.moca_checkbox_input:focus + .moca_checkbox_label:before {outline:1px dotted}
.moca_radio_input + .moca_radio_label,
.moca_checkbox_input + .moca_checkbox_label {display:block; position:relative; padding-left:15px}
.moca_radio_input + .moca_radio_label:before,
.moca_checkbox_input + .moca_checkbox_label:before {position:absolute; left:0; top:10px; width:12px; height:12px; z-index:2; content:''}
.moca_radio_input + .moca_radio_label:before {background:url(../images/ico_rad.png) no-repeat 0 0}
.moca_radio_input:checked + .moca_radio_label:before {background-position:0 -12px}
.moca_radio_input:disabled + .moca_radio_label:before {background-position:0 -24px; cursor:default}
.moca_radio_input:disabled:checked + .moca_radio_label:before {background-position:0 -36px: cursor:default}
.moca_checkbox_input + .moca_checkbox_label:before {background:url(../images/ico_cbx.png) no-repeat 0 0}
.moca_checkbox_input:checked + .moca_checkbox_label:before {background-position:0 -12px}
.moca_checkbox_input:disabled + .moca_checkbox_label:before {background-position:0 -24px; cursor:default}
.moca_checkbox_input:disabled:checked + .moca_checkbox_label:before {background-position:0 -36px: cursor:default}
.moca_checkbox_input:indeterminate + .moca_checkbox_label {background-position:0 -48px}

/* MOCA input */
.moca_input {height:24px; width:100%; padding:0 4px; border:1px solid #ddd; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-appearance:none; -moz-appearance:none; appearance:none}

/* MOCA combo */
.moca_combo {display:inline-block; position:relative; height:24px; margin:0; padding:0; border:1px solid #ddd; background-color:#fff; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.moca_combo .moca_select::-ms-expand {display:none}
select.moca_select {position:relative; width:100%; height:100%; padding:0 22px 0 4px; border:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url(../images/ico_cmb_arrow.png) no-repeat 100% 50%}

/* MOCA inputCalendar */
.moca_ica {display:block; position:relative; height:24px; border:1px solid #ddd; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_ica .moca_input {width:100%; height:100%; padding-right:26px; border:0; background-color:#fff}
.moca_ica .moca_input:read-only {background-color:#fff}
.moca_ica_btn {position:absolute; top:1px; right:1px; width:26px; height:28px; background:url(../images/ico_dp_btn.png) no-repeat 100% 50%; text-indent:-9999px}
.ui-datepicker-trigger {position:absolute; top:0; right:0; width:22px; height:100%; background:url(../images/ico_dp_btn.png) no-repeat 50% 50%; border:0; padding:0; margin:0}
.ui-datepicker-title select {height:24px}
.ui-datepicker-year {margin-right:4px}
.ui-datepicker-month {margin-left:6px}
.ui-datepicker-layer {z-index:1000 !important}

/* MOCA inputButton */
.moca_ibn {position:relative; height:24px; border:1px solid #ddd; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_ibn .moca_input {width:100%; height:100%; padding-right:24px; border:0; background-color:#fff}
.moca_ibn .moca_input:read-only {background-color:#fff}
.moca_ibn .moca_ibn_btn {position:absolute; top:0; right:0; width:24px; height:100%; background:#fff; background:url(../images/ico_ib_btn.png) no-repeat 50% 50%; border:0; border-left:1px solid #ddd; text-indent:-9999px}

/* MOCA Popup */
.moca_popup_modal {background-color:#000; position:fixed; left:0; right:0; top:0; bottom:0; width:100%; height:100%; opacity:.2; z-index:4000}
.moca_popup {position:absolute; z-index:6010; background:#fff; box-shadow:0 0 8px 0 rgba(0,0,0,0.5); -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.5); -webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.5)}
.moca_popup .moca_popup_header {position:relative; width:100%; height:40px; background:#65aae9}
.moca_popup .moca_popup_header:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.moca_popup .moca_popup_header .moca_popup_title {float:left; margin:0 0 0 10px; padding:0; color:#fff; font-size:16px; line-height:40px}
.moca_popup .moca_popup_header .moca_popup_control {float:right; height:40px}
.moca_popup .moca_popup_header .moca_popup_control .moca_popup_btn_close {float:left; border:0; width:40px; height:40px; padding:0; margin:0; background:url(../images/pop_btn_close.png) no-repeat 50% 50%; cursor:pointer; text-indent:-9999px}
.moca_popup .moca_popup_body {position:absolute; top:40px; left:0; right:0; bottom:0;}
.moca_popup .moca_popup_body .moca_popup_content {width:100%; height:100%; overflow:auto}

/* MOCA Tab */
.moca_tab {position:relative}
.moca_tab .moca_tab_head {position:relative; height:30px}
.moca_tab .moca_tab_head button {margin:0; padding:0; border:0}
.moca_tab .moca_tab_listarea {position:absolute; top:0; left:35px; right:120px; bottom:0; overflow:hidden}
.moca_tab .moca_tab_scroll {position:absolute; height:30px; width:1000%}
.moca_tab .moca_tab_control {position:absolute; top:0; right:0; bottom:0; width:120px; z-index:1}
.moca_tab .moca_tab_control button {float:left; width:30px; height:30px; background:no-repeat 50% 50%; text-indent:-9999px}
.moca_tab .moca_tab_control .moca_tab_left {background-image:url(../images/ico_tab_left.png)}
.moca_tab .moca_tab_control .moca_tab_right {background-image:url(../images/ico_tab_right.png)}
.moca_tab .moca_tab_control .moca_tab_menulist {background-image:url(../images/ico_tab_list.png)}
.moca_tab .moca_tab_control .moca_tab_allclose {background-image:url(../images/ico_tab_close.png)}
.moca_tab .moca_tab_ul {width:100%; height:30px; margin:0; list-style:none}
.moca_tab .moca_tab_list {position:relative; float:left; margin-left:2px;/*  border:1px solid #c3c9d8; border-bottom:1px solid #58c8cc;*/ background-color:#f6fafe; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_tab .moca_tab_list:first-child {margin-left:0}
.moca_tab .moca_tab_list .moca_tab_label{display:block; width:100%; height:29px; padding:0 25px 0 22px; margin:0; background-color:#dce1e8; border:1px solid #dbdbdb; color:#181818; font-size:12px; text-align:center; text-decoration:none; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; border-radius:3px 3px 0 0}
.moca_tab .moca_tab_list:hover {background:#e8fafc}
/* .moca_tab .moca_tab_list:hover button.moca_tab_label {background-color:#d0fafa; color:#178691} */
.moca_tab .moca_tab_list.active {/* border:1px solid #c3c9d8; */ border-bottom-color:#fff; background-color:#fff; z-index:1}
.moca_tab .moca_tab_list.active .moca_tab_label{background-color:#fff; color:#000; font-weight:700}
.moca_tab .moca_tab_list.active:hover button.moca_tab_label {background-color:#dce1e8; color:#000}
.moca_tab .moca_tab_mark {display:inline-block; position:absolute; left:5px; top:50%; width:12px; height:12px; margin-top:-7px; background:url(../images/tvw_chk_off.png) no-repeat 50% 50%; cursor:pointer}
.moca_tab .moca_tab_mark.on {background:url(../images/tvw_chk_on.png) no-repeat 50% 50%}
.moca_tab button.moca_tab_close {position:absolute; top:4px; right:4px; width:12px; height:12px; padding:0; background:url(../images/ico_ica_close.png) no-repeat 50% 50%; cursor:pointer; text-indent:-9999px}

.moca_tab .moca_tab_body {position:absolute; top:29px; left:0; right:0; bottom:0;/*  border:1px solid #c3c9d8; */ background:#fff; clear:both}

.moca_tab .moca_tab_panel {position:relative; height:100%}
.moca_tab .moca_tab_panel .moca_tab_h3 {position:absolute; height:1px; color:trnasparent; overflow:hidden; clip:rect(0 0 0 0); margin:-1px; padding:0}
.moca_tab .moca_tab_panel .moca_tab_cont {position:relative; height:100%; padding:10px; overflow:auto; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}

.moca_tab_pop_list {position:absolute; z-index:5200; background:#fff; border:1px solid #c3c9d8; padding:0; -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.5); -moz-box-shadow:0 3px 3px rgba(0,0,0,0.5); box-shadow:0 3px 3px rgba(0,0,0,0.5)}
.moca_tab_pop_list ul {padding:0; margin:0; list-style:none}
.moca_tab_pop_list li {position:relative; border-bottom:1px solid #c3c9d8; padding:0; margin:0}
.moca_tab_pop_list li:after {display:inline-block; position:absolute; width:10px; height:10px; left:5px; top:50%; margin-top:-5px; background:url(../images/ico_tablist_bl.png) no-repeat 0 50%; content:''}
.moca_tab_pop_list li:last-child {border-bottom:0}
.moca_tab_pop_list li button {background:#fff; height:24px; min-width:100px; padding:0 5px 0 16px; border:0; text-align:left}
.moca_tab_pop_list li:hover button {background:#d0fafa}

.moca_tab .btn_home{left:0; top:0; width:34px; height:34px; display:block; background: url(../images/btn_home.png) no-repeat 10px 10px; text-indent:-9999px; overflow:hidden; z-index:999;}
/* MOCA Tree */
.moca_tree {position:relative; border:1px solid #dbdbdb; display:inline-block; overflow:auto}
.moca_tree ul {display:block; position:relative; margin:0; /*padding:5px 0;  background:url(../images/line_tree_vr.gif) repeat-y 11px -1px; zoom:1 */}
.moca_tree ul li {position:relative; line-height: 2.5; background:#fff;/* padding:5px 0 0 7px; background:url(../images/line_tree_hr.gif) no-repeat 1px 5px !important; */ white-space:nowrap; list-style:none; color:#212126}
.moca_tree ul li span.moca_tree_tbx {display:inline-block; position:relative; padding:0 4px; cursor:pointer; vertical-align:middle}
.moca_tree ul li span.moca_tree_tbx:hover {text-decoration:underline}
.moca_tree ul li button {display:inline-block; padding:0; margin:0}
.moca_tree ul li button.moca_tree_btn {position:relative; width:17px; height:12px; margin:0; border:none; text-indent:-9999px; cursor:pointer; vertical-align:middle}
.moca_tree ul li ul {display:none}
.moca_tree ul li ul li {display:none}
.moca_tree ul li button.moca_tree_btn {background:url(../images/tvw_plus.png) no-repeat 50% 50%}
.moca_tree ul li.moca_tree_open > button.moca_tree_btn {background:url(../images/tvw_minus.png) no-repeat 50% 50%}
.moca_tree ul li button.tvw_btn_close {width:15px; height:18px; background:url(../images/tvw_folder_del_on.png) no-repeat 50% 50%; margin:0; padding:0; border:none; text-indent:-9999px; cursor:pointer; vertical-align:middle}

.moca_tree ul li ul {display:none}
.moca_tree ul li ul li {display:none}
.moca_tree ul li.moca_tree_open > ul {display:block}
.moca_tree ul li.moca_tree_open > ul li {display:block}
.moca_tree ul li.moca_tree_last {/* background:url(../images/line_tree_last_hr.gif) no-repeat 0 5px !important */}
.moca_tree ul li.active > span.moca_tree_tbx {background-color:#cdecf0; color:#383d41; font-weight:bold}
.moca_tree .moca_checkbox_tree {display:inline-block; position:relative; width:15px; height:12px; vertical-align:middle; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_tree .moca_checkbox_tree input[type="checkbox"].moca_checkbox_input {position:absolute}
.moca_tree .moca_checkbox_tree input[type="checkbox"].moca_checkbox_input + .moca_checkbox_label {position:absolute; left:2px; top:0; width:12px; padding:0; text-indent:-9999px; font-size:1px}
.moca_tree .moca_checkbox_tree input[type="checkbox"].moca_checkbox_input + .moca_checkbox_label:before {top:0; left:0}
.moca_tree.icon ul li > span.moca_tree_tbx {background-image:url(../images/tvw_folder_plus.png); background-repeat:no-repeat; background-position:4px 50%; padding-left:17px}
.moca_tree.icon ul li.moca_tree_open > span.moca_tree_tbx {background-image:url(../images/tvw_folder_minus.png)}
.moca_tree.icon ul li.leaf > span.moca_tree_tbx,
.moca_tree.icon ul li.moca_tree_open.leaf > span.moca_tree_tbx {background-image:url(../images/tvw_leaf.png)}
.moca_tree > h3{height: 45px;  line-height: 45px; font-size: 16px; color: #212126; padding-left: 13px; font-weight: 700; background:#e7eaef}
.moca_tree > ul > li > p{height:40px; line-height:40px; border-bottom:1px solid #e4e4e4; border-top:1px solid #e4e4e4; background:#e7eaef}
.moca_tree > ul > li > ul > li > p {height:30px; line-height:30px; font-size:13px}

.moca_tree > ul > li > p::after{content: ""; width:16px; height: 16px; background:url(../images/ico_lnb.png)no-repeat right -30px; display:inline-block; margin:12px; float:right}
.moca_tree > ul > li > ul > li > p::after{content: ""; width:16px; height: 16px; background:url(../images/ico_lnb.png)no-repeat right -73px; display:inline-block; margin:8px 6px 6px 0; float:left}

.moca_tree > ul > .moca_tree_open > p::after{content: ""; width:16px; height: 16px; background:url(../images/ico_lnb.png)no-repeat right -9px; display:inline-block; margin:12px; float:right}
.moca_tree > ul > .moca_tree_open > ul > .moca_tree_open > p::after{content: ""; width:16px; height: 16px; background:url(../images/ico_lnb.png)no-repeat right -97px; display:inline-block; margin:8px 6px 6px 0; float:left}
.moca_tree > ul > .moca_tree_open > ul > li > ul > li::after{content: ""; width:16px; height: 16px; background:url(../images/ico_lnb.png)no-repeat right -121px; display:inline-block; margin:7px 6px 6px 0; float:left}

/* MOCA grid */
.moca_grid {position:relative; border-top:1px solid #a1a8b3; overflow:hidden}
.moca_grid .moca_grid_body {position:absolute; overflow-x:auto; overflow-y:hidden; left:0; right:0; top:0; bottom:0}
.moca_grid .moca_grid_body > table {table-layout:fixed; border-collapse:collapse; border-spacing:0}
.moca_grid .moca_grid_body > table > thead > tr > th {height:29px; padding:0 4px; border-right:1px solid #cfd6d9; background-color:#e7eaef;/*#eaf4fe;*/ color:#333; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.moca_grid .moca_grid_body > table > thead > tr > th:last-child{border-right:0}
.moca_grid .moca_grid_body > table > thead > tr:first-child > th {border-top:0}
.moca_grid .moca_grid_body > table > tbody > tr > td {height:26px; padding:0 4px; background-color:#fff; border-top:1px solid #ccc; border-right:1px solid #ccc;border-bottom:1px solid #ccc; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.moca_grid .moca_grid_body > table > tbody tr:nth-child(even) td {background-color:#f7f7f7}
.moca_grid .moca_grid_body > table > tbody tr:hover td {background-color:#e5f3ff}
.moca_grid .moca_grid_body > table > tbody tr.active td {background-color:#cdecf0; color:#000}
.moca_grid .moca_radio_grid,
.moca_grid .moca_checkbox_grid {position:relative; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_grid .moca_radio_grid .moca_radio_label,
.moca_grid .moca_checkbox_grid .moca_checkbox_label {padding:0; text-indent:-9999px}
.moca_grid .moca_radio_input + .moca_radio_label:before,
.moca_grid .moca_checkbox_input + .moca_checkbox_label:before {top:0; left:50%; margin-left:-6px}
.moca_grid .moca_input,
.moca_grid .moca_combo {width:100%}
.moca_grid_tooltip {position:absolute; max-width:600px; z-index:5200; background:#fff; border:1px solid #000; color:#333; padding:3px 5px; -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.5); -moz-box-shadow:0 3px 3px rgba(0,0,0,0.5); box-shadow:0 3px 3px rgba(0,0,0,0.5); white-space:pre-wrap; word-wrap:break-word}
/* MOCA vertual scroll */
.moca_scrollY_type1 {position:absolute; top:0; right:0; bottom:0; height:100%; overflow-y:scroll; overflow-x:hidden; z-index:9}
.moca_scrollX_type1 {position:absolute; left:0; right:18px; bottom:0; height:18px; overflow-x:scroll; overflow-y:hidden; z-index:9}

/* MOCA button */
/* .moca_button {display:inline-block; height:24px; padding:0 15px; font-weight:bold; font-size:13px; color:white; text-align:center; text-shadow:0 -1px 1px rgba(0, 0, 0, 0.2); border:1px solid; border-color:#1486f9 #0f7de9 #0d6acf; background:#1993fb; border-radius:4px; background-image:-webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6); background-image:-moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6); background-image:-o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6); background-image:linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6); -webkit-box-shadow:inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2); letter-spacing:-0.5px}
.moca_button:active {text-shadow:0 1px 1px rgba(0, 0, 0, 0.2); border-color:#075bba #0c69d2 #0f7de9; background-image:-webkit-linear-gradient(top, #1281dc, #1593fc); background-image:-moz-linear-gradient(top, #1281dc, #1593fc); background-image:-o-linear-gradient(top, #1281dc, #1593fc); background-image: linear-gradient(to bottom, #1281dc, #1593fc); -webkit-box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5); box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)}
 */
 .moca_button {display:inline-block; height:24px; padding:0 15px; font-weight:bold; font-size:13px; color:#fff; text-align:center;border-radius:2px; background:#6a7280; letter-spacing:-0.5px}
.moca_button:active {text-shadow:0 1px 1px rgba(0, 0, 0, 0.2); border-color:#075bba #0c69d2 #0f7de9; background-image:-webkit-linear-gradient(top, #1281dc, #1593fc); background-image:-moz-linear-gradient(top, #1281dc, #1593fc); background-image:-o-linear-gradient(top, #1281dc, #1593fc); background-image: linear-gradient(to bottom, #1281dc, #1593fc); -webkit-box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5); box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)}
 
.moca_iframe {border:0}

/* MOCA modal */
.moca_modal {background-color:#000; position:fixed; left:0; right:0; top:0; bottom:0; width:100%; height:100%; opacity:.5; z-index:6000}
/* MOCA progress */
.moca_progress.type1 {width:100px; height:100px; overflow:hidden; position:absolute; left:50%; top:50%; margin-left:-50px; margin-top:-50px; z-index:6001}
.moca_progress.type1 > .loader {display:inline-block; width:100px; height:100px; background:url(../images/loading.png) no-repeat center center; -webkit-animation:spinning 1s infinite; -moz-animation:spinning 1s infinite; -o-animation:spinning 1s infinite; animation:spinning 1s infinite}
@-webkit-keyframes spinning {
	from {transform:rotate(0deg)} to {transform:rotate(360deg)}
}
@keyframes spinning {
	from {transform:rotate(0deg)} to {transform: rotate(360deg)}
}
.moca_progress.type2 {background-color:#000; border-radius:100%; width:100px; height:100px; overflow:hidden; position:absolute; left:50%; top:50%; margin-left:-50px; margin-top:-50px; z-index:6001}
.moca_progress.type2 > .loader {position:absolute; left:0; right:0; top:0; bottom:0; width:66px; height:66px; margin:auto; border:10px solid #fff; border-radius:100%}
.moca_progress.type2 > .loader:before {position:absolute; right:-12px; top:-12px; width:50px; height:100px; background-color:#000; content:''; transform-origin:0 50%; animation:circle 2s infinite}
.moca_progress.type2 > .loader:after {position:absolute; right:-12px; top:-12px; width:50px; height:100px; background-color:#000; content:''; transform-origin:0 50%; animation:circle 2s 0.45s infinite}

@keyframes circle {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

/* MOCA MultiUpload */
.moca_multiupload {position:relative}
.moca_multiupload_grp {display:block; width:100%; height:100%; cursor:pointer}
.moca_multiupload_grp input[type="file"] {width:100%; height:100%;}
.moca_multiupload_grp.trnasparent input[type="file"] {width:100%; height:100%; opacity:0.01; font-size:1px; color:trnasparent}

/* MOCA MessageBox */
.moca_messagebox_modal {background:rgba(0,0,0,0.5); position:fixed; left:0; right:0; top:0; bottom:0; width:100%; height:100%; z-index:6000}
.moca_messagebox {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); min-width:280px; max-width:400px; padding:20px; background-color:#fff; border-radius:10px}
.moca_messagebox .moca_messagebox_close {position:absolute; top:10px; right:10px; height:22px; width:22px; background:url(../images/ico_msg_close.png) no-repeat 50% 50%; border:0; text-indent:-9999px}
.moca_messagebox .ico {height:56px; margin-bottom:10px; background-repeat:no-repeat; background-position:50% 50%}
.moca_messagebox.alert .ico {background-image:url(../images/ico_alert.png)}
.moca_messagebox.confirm .ico {background-image:url(../images/ico_confirm.png)}
.moca_messagebox.error .ico {background-image:url(../images/ico_error.png)}
.moca_messagebox_grp {text-align:center}
.moca_messagebox_grp h2 {color:#24394a; font-size:18px; font-weight:bold}
.moca_message {margin:8px 0 10px}
.moca_message p {color:#365687; font-size:14px}
.moca_messagebox .moca_btnbox {border-top:1px solid #e5e5e5; padding-top:15px; text-align:center}
.moca_messagebox .moca_btnbox button {height:30px; min-width:100px; padding:5px 20px; border-radius:15px; border:0; color:#fff; font-size:14px; font-weight:bold}
.moca_messagebox.alert .moca_btnbox .moca_btn_confirm {background:#ffb703}
.moca_messagebox.confirm .moca_btnbox .moca_btn_confirm {background:#71be34}
.moca_messagebox.error .moca_btnbox .moca_btn_confirm {background:#ff623d}
.moca_messagebox .moca_btnbox .moca_btn_cancel {background:#7d7d7d}
.moca_messagebox .moca_btnbox .moca_btn_cancel + .moca_btn_confirm {margin-left:5px}


/* calendar */
.moca_calendar {position:relative; width:250px; padding:8px; background-color:#fff; border:1px solid #ddd; box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2); -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.5); z-index:6000}
.moca_calendar button {border:0; background-color:#fff; padding:0}
.moca_calendar_header {position:relative; height:34px; background:#fff}
.moca_calendar_btn_prev_year,
.moca_calendar_btn_prev_month,
.moca_calendar_btn_next_month,
.moca_calendar_btn_next_year {position:absolute; top:4px; width:26px; height:26px; background-repeat:no-repeat; background-position:50% 50%; text-indent:-9999px}
.moca_calendar_btn_prev_year {left:5px; background-image:url(../images/ica_prev_year.png)}
.moca_calendar_btn_prev_month {left:30px; background-image:url(../images/ica_prev_month.png)}
.moca_calendar_btn_next_month {left:193px; background-image:url(../images/ica_next_month.png)}
.moca_calendar_btn_next_year {left:221px; background-image:url(../images/ica_next_year.png)}
.moca_calendar_combo_year, 
.moca_calendar_combo_month {display:inline-block; position:absolute; height:26px; margin:0; padding:0; border:0; background-color:#fff; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_calendar_combo_year .moca_select, 
.moca_calendar_combo_month .moca_select {font-weight:bold}
.moca_calendar_combo_year {top:4px; left:64px; width:64px} 
.moca_calendar_combo_month {top:4px; left:136px; width:53px}

.moca_calendar .moca_calendar_body {border:0; background:none; padding:5px 0}
.moca_calendar .moca_calendar_body table {width:100%}
.moca_calendar .moca_calendar_body table th,
.moca_calendar .moca_calendar_body table td {text-align:center; height:26px}
.moca_calendar .moca_calendar_body table td button {border-radius:100%; height:26px; width:26px; line-height:20px; background:transparent}
.moca_calendar .moca_calendar_body table td.moca_calendar_holiday button {font-weight:normal; color:#fd5353}
.moca_calendar .moca_calendar_body table td.moca_calendar_today button {background:#000; color:#fff}
.moca_calendar .moca_calendar_body table td:hover button {background:#1fb4c5; color:#fff}
.moca_calendar .moca_calendar_body table td.moca_calendar_selected button {background:#1fb4c5; color:#fff}  
.moca_calendar .moca_calendar_body table td.moca_calendar_date_disabled {font-weight:normal; color:#d1d1d1}

.moca_calendar_footer {position:relative; background:#fff; height:26px; padding-top:8px; border-top:1px solid #ddd}
.moca_calendar_footer:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.moca_calendar_footer .lta {float:left; margin-right:-5px; text-align:left}
.moca_calendar_footer .lta > button {float:left; margin-right:6px}
.moca_calendar_footer .rta {float:right; margin-left:-5px; text-align:right}
.moca_calendar_footer .rta > button {float:left; margin-left:4px}
.moca_calendar_footer .cta {text-align:center}
.moca_calendar_footer button.moca_calendar_btn_today {height:24px; border:1px solid #c0c1c4; padding:0 18px; background:#fff; border-radius:15px; color:#000; line-height:20px}
.moca_calendar_footer button.moca_calendar_btn_cancel {height:24px; padding:0 18px; background:#7d7d7d; border-radius:15px; border:0; color:#fff; line-height:20px}
.moca_calendar_footer button.moca_calendar_btn_ok {height:24px; padding:0 18px; background:#71be34; border-radius:15px; border:0; color:#fff; line-height:20px}
/* calendar(FROM ~ TO) */
.moca_calendar_fromto {position:relative; width:700px; height:316px; background-color:#fff; border:1px solid #ddd; box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2); -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.5); z-index:6000}
.moca_calendar_lta {overflow:hidden auto; position:absolute; top:0; left:0; bottom:0; width:120px; padding:8px; background:#f7f7f7; color:#fff; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_calendar_rta {position:absolute; top:0; left:120px; right:0; bottom:0; padding:8px; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_calendar_list li {display:block; position:relative; padding:0 0 5px}
.moca_calendar_list li button {display:block; width:100%; height:26px; padding:0 10px; background:#f7f7f7; border:0; color:#000; text-align:left; border-radius:3px; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_calendar_list li.active button {background:#1fb4c5; color:#fff; font-weight:bold}
.moca_calendar_row {position:relative}
.moca_calendar_row:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.moca_calendar_row .moca_calendar_fl {float:left; width:50%; padding:0 5px; -moz-box-sizing:border-box; box-sizing:border-box}
.moca_calendar_row .moca_calendar_fl .moca_input {text-align:center}
.moca_calendar_row .moca_calendar {width:100%; border:0; box-shadow:none; -moz-box-shadow:none; -moz-box-sizing:border-box; box-sizing:border-box}




