@charset "utf-8";

html, body {width:100%; height:100%}
/* p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, table, form, fieldset {margin:0; padding:0} */
table {empty-cells:show}
a img, img {vertical-align:top}
/* img, fieldset {border:0} */
ul, dl, dd {list-style:none}
button {cursor:pointer}
:focus {outline: 0}

/*reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, button, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
	{margin: 0; padding: 0;	border: 0;	outline: 0;	font-weight:inherit; font-style:inherit; font-family: inherit;}

/* 모카데모 레이아웃 */
.moca_wrap {overflow:hidden; position:absolute; top:0; right:0; bottom:0; left:0; background:#f6f6f6}

.moca_aside {position:absolute; top:0px; bottom:0; left:0; z-index:9; width:60px; background:#fff; box-shadow:2px 0px 5px 0px rgba(0,0,0,0.15); -moz-box-shadow:2px 0px 5px 0px rgba(0,0,0,0.15)}
.moca_aside h1 {display:inline-block; height:50px; width:60px; margin:0 0 10px; background:url(../images/ico_moca_logo.png) no-repeat 50% 50%; text-indent:-9999px}
/*.moca_aside ul {position:relative; top:40%; transform:translateY(-50%)}
.moca_aside ul li ~ li {margin-top:15px}
.moca_aside ul li button {width:100%; padding:10px 0; background:#fff; border:0; border-left:2px solid transparent; color:#8e8e8e; font-size:12px; text-align:center}
.moca_aside ul li i {display:block; font-size:20px; text-align:center; color:#dce1e8}
.moca_aside ul li i + span {display:block; margin-top:5px}
.moca_aside ul li.active i {color:#188038}
.moca_aside ul li.active span {color:#000}
.moca_aside ul li.active button {border-left:2px solid #188038}
.moca_lnb > ul {position:relative; top:40%; transform:translateY(-50%)}*/
.moca_lnb > ul li {width:33.3%}
.moca_lnb > ul li:last-child {width:33.4%}
.moca_lnb > ul li ~ li {}
.moca_lnb > ul li button {width:100%; padding:14px 0; background:#fff; border:0;/*  border-left:2px solid transparent; */font-weight:bold; color:#212126; font-size:12px; text-align:center}
.moca_lnb > ul li i {display:block; font-size:22px; text-align:center; color:#c1c1c1;width:40px; height:40px; background:#fff; border:1px solid #ddd; border-radius: 4px; line-height:40px; margin:0 auto;}
.moca_lnb > ul li i + span {display:block}
.moca_lnb > ul li.active i {color:#fff; background:#6a7280}
/* .moca_lnb > ul li.active span {color:#1ab394} */

.moca_container {/*position:absolute;*/ top:0px; right:0; bottom:0;/* left:60px*/}

.moca_lnb {position:absolute; top:65px; bottom:0; left:0; width:260px; background:#fff; box-sizing:border-box}
.moca_lnb_head {position:relative; width:260px; height:65px; padding:15px 10px 0; -moz-box-sizing:border-box; box-sizing:border-box;}
.moca_lnb_head h2 {line-height:48px; font-size:24px; color:#000; font-weight:normal}
.moca_lnb_head .moca_lnb_autocomp {position:relative}
.moca_lnb_head .moca_lnb_autocomp:after {position:absolute; top:0px; right:0; width:30px; height:30px; background:url(../moca/images/ico_ib_btn.png) no-repeat 3px 50%; content:''}
.moca_lnb_head .moca_lnb_autocomp .moca_input {height:30px; padding-left:10px; background: none; border-bottom:1px solid #1ab394 !important; color:#333; border:0}
.moca_lnb_head .moca_lnb_autocomp .moca_input::placeholder{color:#fff;}
.moca_lnb .moca_tree {position:absolute; top:94px; right:10px; bottom:10px; left:10px; /* padding-left:7px; */ border-radius:4px;}
.moca_contents {position:absolute; top:65px; right:0; bottom:0; left:260px; min-width:1041px}
.moca_contents::before{content: '';background: url(../moca/images/side_resize.png) no-repeat center center;width: 10px;height: 20px;position: absolute;left: -9px;top: 51%;cursor: w-resize;/* z-index: -999; */}
.moca_header {position:relative; background:#fff; height:60px; color:#2c3e50; border-bottom:1px solid #9a9ea8; border-top:4px solid #6a7280}
.moca_header .gt {height:60px}
.moca_header .gt h1 {position:absolute; top:4px; left:19px; font-size:24px; font-weight:bold}
.moca_header .gt h1.logo {display:inline-block; height:58px; width:170px; margin-left:24px; background:url(/ui/images/bg_ci.png) no-repeat 0 50%; text-indent:-9999px}

.moca_header .gt .info {position:absolute; top:17px; right:58px}
.moca_header .gt .moca_input {width:200px; right:50px; position:absolute; height:32px; top:16px; border:0; border-bottom:2px solid #6a7280; text-indent:12px}
.moca_header .gt > ul {position:relative;}
.moca_header .gt > ul:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.moca_header .gt > ul > li .info_photo {height:30px; width:30px; border-radius:100%; vertical-align:middle}
.moca_header .gt > ul > li span {display:inline-block; line-height:1; padding:8px 0; vertical-align:middle}
.moca_header .gt > ul > li button.btn_login {display:inline-block; overflow:hidden; padding:8px 21px; background:#f21f46; color:#fff; border: 1px solid #f21f46; font-size:13px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; text-align:center; line-height:1; text-transform:uppercase; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; -ms-transition:all .2s ease; transition:all .2s ease;}
.moca_header .gt > ul > li button.btn_login:hover {background-color:#9d072f;}
.moca_header .gt > ul > li button.btn_logout {display:inline-block; overflow:hidden; padding:8px 21px; background:#fff; color:#f21f46; border:1px solid #f21f46; font-size:13px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; text-align:center; line-height:1; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; -ms-transition:all .2s ease; transition:all .2s ease;}
.moca_header .gt > ul > li button.btn_logout:hover {background-color:#f21f46; color:#fff}
.info_photo + span {margin-left:8px}
.moca_header .gt > ul > li ~ li {margin-left:15px}

.moca_header .gnb {height:60px;}
.moca_header .gnb .gnb_all {display:inline-block; width:60px; height:50px; background:url(/ui/images/btn_gnb_all.png) no-repeat 0 0; vertical-align:top; text-indent:-9999px}
.moca_header .gnb ul {margin:0;	padding:0; list-style-type:none; vertical-align:top}
.moca_header .gnb > ul {display:inline-block}
.moca_header .gnb > ul > li {display:inline-block; margin-right:10px}
.moca_header .gnb > ul > li:last-child {margin-right:0}
.moca_header .gnb > ul > li > button {display:inline-block; position:relative; font-weight:700; font-size:15px; padding:0 24px; color:#2c3e50; height:60px; background:transparent; border:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.moca_header .gnb > ul > li > button:hover {color:#000}
.moca_header .gnb > ul > li > button.on:after {content:""; position:absolute; top:34px; left:50%; margin-left:-5px; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:8px solid #fff}




.moca_tab {position:absolute; top:15px; right:10px; bottom:10px; left:10px}
.moca_tab .moca_tab_body {border-width:1px 0 0 0; top:34px}
.moca_tab .moca_tab_head,
.moca_tab .moca_tab_scroll,
.moca_tab .moca_tab_ul,
.moca_tab .moca_tab_list .moca_tab_label {height:35px}
.moca_tab .moca_tab_list,
.moca_tab .moca_tab_list.active {border-top:0}
.moca_tab .moca_tab_list:first-child {border-left:0}
.moca_cont_wrap {position:absolute; top:0; right:0; bottom:0; left:0; padding:10px 30px 30px 30px; border:1px solid #dbdbdb; border-radius:5px}
.moca_grid {position:absolute; top:150px; right:30px; bottom:30px; left:30px}
.moca_grid.btn {bottom:80px}

.moca_titbox {position:relative; width:100%; min-height:24px; margin:0 0 10px; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
.moca_titbox:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.moca_titbox h2 {padding:0; font-size:18px; line-height:24px; font-weight:bold; color:#222}
.moca_shbox {position:relative; padding:10px 10px 10px 20px; margin-top:10px; background:#e7eaef; border-top: 1px solid #9a9ea8; border-bottom: 1px solid #9a9ea8; box-shadow: 2px 1px 2px rgba(0,0,0,0.1); -moz-box-sizing:border-box; box-sizing:border-box}
.moca_shbox .tb {border:0}
.moca_shbox .tb .tb_th,
.moca_shbox .tb .tb_td {border:0;/* background:#f6fafe;*/ height:22px}
.moca_shbox .tb .tb_th {color:#272066; padding:0 3px 0 0; font-weight:700; text-align:left}
.moca_shbox .tb .tb_td {padding:2px 30px 2px 0}
.moca_shbox .tb tr:first-child .tb_td {padding-top:0}
.moca_shbox .tb tr:last-child .tb_td {padding-bottom:0}
.moca_shbox .shbox_inner {position:relative; padding:0; margin:0 105px 0 0}
.moca_shbox .btn_shbox {position:absolute; bottom:10px; right:20px; width:100px; height:22px; margin:-11px 0 0; text-align:right}

.moca_tab .moca_tab_body .toast_msg{position: absolute; bottom: 0px; background: #6a7280; height: 26px; line-height: 26px; color: #fff; padding-left: 13px; left: 0; right: 0; border-radius: 0 0 5px 5px;}

/* table */
.tbbox {position:relative; padding:0; margin:0}
table.tbl {width:100%; border-top:1px solid #cc2046; border-left:1px hidden transparent; border-right:1px hidden transparent; table-layout:fixed; clear:both}
table.tbl th, 
table.tbl td {height:40px; border:1px solid #e2e2e2; border-top:none; vertical-align:middle; -moz-box-sizing:border-box; box-sizing:border-box}
table.tbl thead th {text-align:center; background:#fafafa; padding:3px 2px}
table.tbl th {font-weight:bold; color:#222; text-align:left; background:#fafafa; padding:3px 5px 3px 10px}
table.tbl td {padding:6px 10px; color:#555; background:#fff; word-break:break-all}
table.tbl td > *:last-child {margin-right:0 !important}
table.tbl th .moca_input:read-only{width:100%; background:#f6fafe; border:0; color:#222; font-weight:bold}
table.tbl td.sct pre,
table.tbl td.sct {color:#010101; font-size:13px; font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace !important}

.btnbox {position:absolute; left:30px; bottom:30px; right:30px}
.btnbox:after {display:block; visibility:hidden; clear:both; height:0; font-size:0; line-height:0; content: '.'}
.btnbox .lta {float:left; margin-right:-5px; text-align:left}
.btnbox .lta > * {float:left; margin-right:4px}
.btnbox .rta {float:right; margin-left:-5px; text-align:right}
.btnbox .rta > * {float:left; margin-left:4px}
.btnbox .cta {text-align:center}

table.tbl.y {border-top:1px solid #5f5039}
table.tbl.y th {background:#f6efdd}

/* table layout */
table.tbl_ly {width:100%; table-layout:auto; max-width:100%; min-height:20px; border-collapse:collapse; background:transparent}
table.tbl_ly tr td {height:24px; border:0 !important; padding:0 2px; background:transparent; vertical-align:middle}
table.tbl_ly tr td:first-child {padding-left:0}
table.tbl_ly tr td:last-child {padding-right:0}



/*COMMON CLASS*/
/*CLEAR*/
.clearfix:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.clearfix {* zoom:1}
/*DISPLAY*/
.fl_po {position:absolute; left:50%; top:50%}
.pore {position:relative}
.dinb {display:inline-block}
.vat {vertical-align:top !important}
.vam {vertical-align:middle !important}
.vab {vertical-align:bottom!important}
.tdu {text-decoration:underline}
.tdn {text-decoration:none}
.hide {display:none}
.show {display:block}
.mh100{min-height:100%}
.wauto{width:auto !important;}
.pnone {pointer-events:none}
/*OVERFLOW*/
.ofh {overflow:hidden !important}
.ofa {overflow:auto !important}
.ofya {overflow-y:auto !important}
/*FLOAT*/
.fl {float:left}
.fr {float:right}
/*ALIGN*/
.tal {text-align:left !important}
.tac {text-align:center !important}
.tar {text-align:right !important}
/*mask*/
.mask {text-align:right !important; letter-spacing:-0.3px;}
.fix {table-layout:fixed !important}
.fix_margin {height:100px}
/*한글만입력_IE*/
input[type=text].kor {-webkit-ime-mode:active; -moz-ime-mode:active; -ms-ime-mode:active; ime-mode:active}
/*MARGIN*/
.mauto {margin:0 auto !important}
.ma0 {margin:0 !important}

.mr0 {margin-right:0 !important}
.mr1 {margin-right:1px !important}
.mr2 {margin-right:2px !important}
.mr3 {margin-right:3px !important}
.mr4 {margin-right:4px !important}
.mr5 {margin-right:5px !important}
.mr6 {margin-right:6px !important}
.mr7 {margin-right:5px !important}
.mr8 {margin-right:8px !important}
.mr9 {margin-right:9px !important}
.mr10 {margin-right:10px !important}
.mr11 {margin-right:11px !important}
.mr12 {margin-right:12px !important}
.mr13 {margin-right:13px !important}
.mr14 {margin-right:14px !important}
.mr15 {margin-right:15px !important}
.mr18 {margin-right:18px !important}
.mr20 {margin-right:20px !important}
.mr23 {margin-right:23px !important}
.mr24 {margin-right:24px !important}
.mr30 {margin-right:30px !important}
.mr40 {margin-right:40px !important}
.mr50 {margin-right:50px !important}

.mt0 {margin-top:0 !important}
.mt1 {margin-top:1px !important}
.mt2 {margin-top:2px !important}
.mt3 {margin-top:3px !important}
.mt4 {margin-top:4px !important}
.mt5 {margin-top:5px !important}
.mt6 {margin-top:6px !important}
.mt7 {margin-top:7px !important}
.mt8 {margin-top:8px !important}
.mt9 {margin-top:9px !important}
.mt10 {margin-top:10px !important}
.mt11 {margin-top:11px !important}
.mt12 {margin-top:12px !important}
.mt13 {margin-top:13px !important}
.mt14 {margin-top:14px !important}
.mt15 {margin-top:15px !important}
.mt16 {margin-top:16px !important}
.mt18 {margin-top:18px !important}
.mt19 {margin-top:19px !important}
.mt20 {margin-top:20px !important}
.mt22 {margin-top:22px !important}
.mt23 {margin-top:23px !important}
.mt24 {margin-top:24px !important}
.mt25 {margin-top:25px !important}
.mt26 {margin-top:26px !important}
.mt27 {margin-top:27px !important}
.mt28 {margin-top:28px !important}
.mt30 {margin-top:30px !important}
.mt31 {margin-top:31px !important}
.mt33 {margin-top:33px !important}
.mt35 {margin-top:35px !important}
.mt36 {margin-top:36px !important}
.mt37 {margin-top:37px !important}
.mt38 {margin-top:38px !important}
.mt39 {margin-top:39px !important}
.mt40 {margin-top:40px !important}
.mt41 {margin-top:41px !important}
.mt42 {margin-top:42px !important}
.mt43 {margin-top:43px !important}
.mt44 {margin-top:44px !important}
.mt45 {margin-top:45px !important}
.mt46 {margin-top:46px !important}
.mt47 {margin-top:47px !important}
.mt48 {margin-top:48px !important}
.mt49 {margin-top:49px !important}
.mt50 {margin-top:50px !important}
.mt60 {margin-top:60px !important}

.ml0 {margin-left:0 !important}
.ml1 {margin-left:1px !important}
.ml2 {margin-left:2px !important}
.ml3 {margin-left:3px !important}
.ml4 {margin-left:4px !important}
.ml5 {margin-left:5px !important}
.ml6 {margin-left:6px !important}
.ml7 {margin-left:7px !important}
.ml8 {margin-left:8px !important}
.ml9 {margin-left:9px !important}
.ml10 {margin-left:10px !important}
.ml11 {margin-left:11px !important}
.ml12 {margin-left:12px !important}
.ml13 {margin-left:13px !important}
.ml14 {margin-left:14px !important}
.ml15 {margin-left:15px !important}
.ml16 {margin-left:16px !important}
.ml17 {margin-left:17px !important}
.ml18 {margin-left:18px !important}
.ml19 {margin-left:19px !important}
.ml20 {margin-left:20px !important}
.ml21 {margin-left:21px !important}
.ml22 {margin-left:22px !important}
.ml23 {margin-left:23px !important}
.ml24 {margin-left:24px !important}
.ml25 {margin-left:25px !important}
.ml26 {margin-left:26px !important}
.ml28 {margin-left:28px !important}
.ml30 {margin-left:30px !important}
.ml31 {margin-left:31px !important}
.ml35 {margin-left:35px !important}
.ml40 {margin-left:40px !important}
.ml50 {margin-left:50px !important}
.ml60 {margin-left:60px !important}
.ml80 {margin-left:80px !important}
.ml90 {margin-left:90px !important}
.ml100 {margin-left:100px !important}
.ml150 {margin-left:150px !important}

.mb0 {margin-bottom:0 !important}
.mb1 {margin-bottom:1px !important}
.mb2 {margin-bottom:2px !important}
.mb3 {margin-bottom:3px !important}
.mb4 {margin-bottom:4px !important}
.mb5 {margin-bottom:5px !important}
.mb6 {margin-bottom:6px !important}
.mb7 {margin-bottom:7px !important}
.mb8 {margin-bottom:8px !important}
.mb9 {margin-bottom:9px !important}
.mb10 {margin-bottom:10px !important}
.mb11 {margin-bottom:11px !important}
.mb12 {margin-bottom:12px !important}
.mb13 {margin-bottom:13px !important}
.mb14 {margin-bottom:14px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb24 {margin-bottom:24px !important}
.mb30 {margin-bottom:30px !important}
.mb35 {margin-bottom:35px !important}
.mb40 {margin-bottom:40px !important}
.mb50 {margin-bottom:50px !important}
.mb64 {margin-bottom:64px !important}
.mb74 {margin-bottom:74px !important}
.mb80 {margin-bottom:80px !important}
.mb100 {margin-bottom:100px !important}

/*PADDING*/
.p0 {padding:0 !important}
.p4 {padding:4px !important}
.p10 {padding:10px !important}
.p24 {padding:24px !important}

.pl0 {padding-left:0 !important}
.pl4 {padding-left:4px !important}
.pl6 {padding-left:6px !important}
.pl8 {padding-left:8px !important}
.pl12 {padding-left:12px !important}
.pl20 {padding-left:20px !important}
.pl24 {padding-left:24px !important}

.pr0 {padding-right:0 !important}
.pr4 {padding-right:4px !important}
.pr6 {padding-right:6px !important}
.pr8 {padding-right:8px !important}
.pr10 {padding-right:10px !important}
.pr12 {padding-right:12px !important}
.pr20 {padding-right:20px !important}
.pr24 {padding-right:24px !important}

.pt0 {padding-top:0 !important}
.pt4 {padding-top:4px !important}
.pt5 {padding-top:4px !important}
.pt6 {padding-top:6px !important}
.pt8 {padding-top:8px !important}
.pt10 {padding-top:10px !important}
.pt12 {padding-top:12px !important}
.pt20 {padding-top:20px !important}
.pt24 {padding-top:24px !important}

.pb0 {padding-bottom:0 !important}
.pb4 {padding-bottom:4px !important}
.pb5 {padding-bottom:6px !important}
.pb8 {padding-bottom:8px !important}
.pb10 {padding-bottom:10px !important}
.pb12 {padding-bottom:12px !important}
.pb20 {padding-bottom:20px !important}
.pb24 {padding-bottom:24px !important}

/*TEXT COLOR-orange*/
.txt_orange {color:#F45324 !important}
/*TEXT COLOR-mint*/
.txt_blue {color:#006EB9 !important}
/*TEXT COLOR-gray*/
.txt_gray {color:#666 !important}
/*TEXT COLOR-black*/
.txt_black {color:#111 !important}
/*TEXT COLOR-red*/
.txt_red {color:#ff3333 !important}
/*TEXT COLOR-green*/
.txt_green {color:#7faf24 !important}
/*TEXT COLOR-purple*/
.txt_purple {color:#b852ff !important}
/*TEXT COLOR-disabled*/
.txt_disabled {color:#CCCCCC !important}
/*TEXT bold*/
.txt_b {font-weight:700 !important}
.txt_n {font-weight:normal !important}
.txt_bold {font-weight:700}
.txt_normal {font-weight:normal}
/*TEXT size*/
.txt_12 {font-size:12px !important}
.txt_14 {font-size:14px !important}
.txt_16 {font-size:16px !important}

.blind {visibility:visible;	position:absolute; overflow:hidden; clip:rect(0 0 0 0); margin:-1px; width:1px; height:1px; top:auto; left:auto; font-size:medium; line-height:normal}
.hidden {overflow:hidden !important; position:absolute !important; top:0 !important; left:-2000em !important; line-height:0 !important;}

/**/
.anim {-khtml-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.drag {-ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.bold {font-weight: 700;}
.al_l {text-align: left;}
.al_c {text-align: center;}
.al_r {text-align: right;}
.inline {display: inline;}
.inline_b {display: inline-block;}
.hidden {display: none !important;}
.pointer {cursor: pointer;}
.default {cursor: default !important;}
.allowed_n {cursor: not-allowed !important;}
.line_m:after {content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.align_m > span {vertical-align: middle;}
.text_0 {font-size: 0;}
.text_00 {font-size: 0 !important;}
.text_r {font-size: 14px;}
.height_title {height: 36px; -khtml-transition: height 0.1s ease; -moz-transition: height 0.1s ease; -ms-transition: height 0.1s ease; -o-transition: height 0.1s ease; transition: height 0.1s ease;}
.circle {overflow: hidden; /*border: 1px solid transparent;*/ border-radius: 100%;}
.circle > img {width: 100%; height: 100%;}
.lowercase {text-transform: lowercase;}
.uppercase {text-transform: uppercase;}

.moca_search{background:url(../moca/images/btn_search.png) no-repeat; background-size:20px; margin: 22px; height: 20px; width: 20px;}
