@charset "utf-8";
.user_login {background: none repeat scroll left center #F4F5F5;
    border: 3px solid #E0E0E0;
    clear: left;
    margin: 0;
    overflow: hidden;
    padding: 36px 0 16px;
    width: 550px;
}
.user_login .user_login_ultop {
    float: left;
    margin: 0;
    padding: 0 0 28px 50px;
    width: 600px;
}
.user_login .user_login_ultop ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 270px;
}
.user_login .user_login_ultop ul li {
	float: right;
    margin: 0;
    padding: 0 0 2px;
}
.user_login .user_login_ultop ul li img {
    vertical-align: middle;
}
.user_login .user_login_ultop ul li input {
    vertical-align: middle;
}
.user_login .user_login_ultop ul li .input_style {
    border: 2px solid #0958A5;
    height: 17px;
    margin: 0 0 0 9px;
    padding: 2px 0 0 2px;
    width: 176px;
}
.user_login .user_login_ultop .btn_style {
    float: left;
    height: 46px;
    margin-left:5px; margin-top:1px;
    width: 120px;
}


.user_login .user_login_btstyle {
    float: left;
    margin: 0;
    padding: 14px 0 0 60px; 
    width: 754px;
}
.user_login .user_login_btstyle .bt_ulstyle1 {
    float: left;
    width: 75px;
}
.user_login .user_login_btstyle .bt_ulstyle1 li {
    background: url("../../images/member/bul_arrow.gif") no-repeat scroll 0 5px transparent;
    color: #727475;
    margin: 0 0 7px;
    padding: 0 0 0 11px;
}
.user_login .user_login_btstyle .bt_ulstyle2 {
    float: left;
    width: 119px;
}
.user_login .user_login_btstyle .bt_ulstyle2 li {
    margin: 0 0 7px;
}
.user_login .user_login_btstyle .bt_ulstyle2 li img {
    vertical-align: middle;
}


select:focus, option:focus, select, option, select:hover{outline:0 !important; border:0; box-shadow:none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand {display: none; }

*{outline:0}
html,body{height:100%; overflow:hidden; font:13px '맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif; padding:0; margin:0}
button, input, select{font:13px '맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif; }
.wrap{background:url(/moca/images/login_wrap_bg.svg) no-repeat 50%; background-size:cover; width:100%; height:100%;}
.login_box{display:flex; width: fit-content;height:585px; position:relative; top:13%; background:rgba(255, 255, 255, 0.5); border:1px solid #ddd; border-radius:3px; margin:0 auto; box-sizing:border-box}
.login_box .login_img{width:100%; height:143px; background:url(/images/ico_lock.png)no-repeat 50%; padding: 50px 0; box-sizing:border-box; background-size:95px}
.login_box .login_left{width:365px; float:left}
.login_box .login_right{ width:625px; float:right; height:100%; background:url(../images/login_bg.gif) no-repeat 50%; background-size:80%; background-color:#fff; background-position:80px 66px}

.login_box .logo{margin:70px 0; height:56px; background:url(/moca/images/mErp.svg) no-repeat 50%; background-size:145px; text-indent:-9999px; border-radius:3px 3px 0 0}
.login_box select, .login_box input[type="text"], .login_box input[type="password"], .login_box button{width:280px; height:40px; border:1px solid #ccc; margin:0 34px; padding:0 15px; box-sizing:border-box}
.login_box select{border-radius:2px; background-color:#eee; border:0; margin-bottom:20px}
.login_box input[type="text"]{border-raius:2px 2px 0 0}
.login_box input[type="password"]{border-raius:0 0 2px 2px; border-top:0; margin-bottom:55px}
.login_box button{background:#50a4fe; height:60px; border-radius:40px; border:0; color:#fff; font-size:20px; font-weight:bold}
.login_box .login_option{width:280px; margin:15px 34px 0;}
.login_box .login_option .lang{float:right}
.login_cmb{background-image:url(/moca/images/login_cmb.gif); background-repeat:no-repeat; background-position:257px 1px}
@media all and (max-width:1279px) {
	.login_box{border: 0; background: none;}
	.login_box .login_right{display:none;}
}