@charset "utf-8";
.user_login {background: none repeat scroll left center #F4F5F5;
    border: 3px solid #E0E0E0;
    clear: left;
    margin: 0;
    overflow: hidden;
    padding: 36px 0 16px;
    width: 550px;
}
.user_login .user_login_ultop {
    float: left;
    margin: 0;
    padding: 0 0 28px 50px;
    width: 600px;
}
.user_login .user_login_ultop ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 270px;
}
.user_login .user_login_ultop ul li {
	float: right;
    margin: 0;
    padding: 0 0 2px;
}
.user_login .user_login_ultop ul li img {
    vertical-align: middle;
}
.user_login .user_login_ultop ul li input {
    vertical-align: middle;
}
.user_login .user_login_ultop ul li .input_style {
    border: 2px solid #0958A5;
    height: 17px;
    margin: 0 0 0 9px;
    padding: 2px 0 0 2px;
    width: 176px;
}
.user_login .user_login_ultop .btn_style {
    float: left;
    height: 46px;
    margin-left:5px; margin-top:1px;
    width: 120px;
}


.user_login .user_login_btstyle {
    float: left;
    margin: 0;
    padding: 14px 0 0 60px; 
    width: 754px;
}
.user_login .user_login_btstyle .bt_ulstyle1 {
    float: left;
    width: 75px;
}
.user_login .user_login_btstyle .bt_ulstyle1 li {
    background: url("../../images/member/bul_arrow.gif") no-repeat scroll 0 5px transparent;
    color: #727475;
    margin: 0 0 7px;
    padding: 0 0 0 11px;
}
.user_login .user_login_btstyle .bt_ulstyle2 {
    float: left;
    width: 119px;
}
.user_login .user_login_btstyle .bt_ulstyle2 li {
    margin: 0 0 7px;
}
.user_login .user_login_btstyle .bt_ulstyle2 li img {
    vertical-align: middle;
}


/*성혜진 login.css*/
select:focus, option:focus, select, option, select:hover{outline:0 !important; border:0; box-shadow:none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand {display: none; }

*{outline:0}
html,body{height:100%; overflow:hidden; font:13px '맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif; padding:0; margin:0}
button, input, select{font:13px '맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif; }
.wrap{background:#f8f8f8; width:100%; height:100%;}
.login_box{width:350px; height:488px; position:relative; top:20%; background:#fff; border:1px solid #ddd; border-radius:3px; margin:0 auto; box-sizing:border-box}
.login_box .login_img{width:100%; height:143px; background:url(/to/images/ico_lock.png)no-repeat 50%; padding: 50px 0; box-sizing:border-box; background-size:95px}
.login_box .logo{margin:0; height:70px; background:url(../images/logo_w.png) no-repeat 50%; background-color:#263948; text-indent:-9999px; border-radius:3px 3px 0 0}
.login_box select, .login_box input[type="text"], .login_box input[type="password"], .login_box button{width:280px; height:40px; border:1px solid #ccc; margin:0 34px; padding:0 15px; box-sizing:border-box}
.login_box select{border-radius:2px; background:#eee; border:0; margin-bottom:20px}
.login_box input[type="text"]{border-raius:2px 2px 0 0}
.login_box input[type="password"]{border-raius:0 0 2px 2px; border-top:0; margin-bottom:20px}
.login_box button{background:#c96f57; border:0; color:#fff; font-size:15px; font-weight:bold}
.login_box .login_option{width:280px; margin:15px 34px 0;}
.login_box .login_option .lang{float:right}