@charset "UTF-8";

/* 웹폰트 CSS */

@font-face {font-family: 'Spoqa Han Sans';  font-weight: 400; src: local('Spoqa Han Sans Regular'),  url('../fonts/SpoqaHanSansRegular.woff') format('woff'), url('../fonts/SpoqaHanSansRegular.woff2') format('woff2'), url('../fonts/SpoqaHanSansRegular.eot') format('eot')}

body {position:relative; font:11.5px 'Spoqa Han Sans','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif; color:#555}
select, input, button {font:11.5px 'Spoqa Han Sans','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif; color:#555}
.fr{float:right !important;}
.fl{float:left !important;}
.tfr{text-align:right !important;}
.tfl{text-align:left !important;}
.tfc{text-align:center !important;}
.fc_mint{color:#55c7c6 !important;}
.fc_red{color:#e64747 !important;}
.mr5{margin-right:5px}
.wrapper{position:relative; height:100%; min-width:800px;background:url(../images/home/snow_bg.gif)}
.container{position:relative;border-top: 2px solid #6397af; overflow:inherit}
.bg_snow {position:relative; height:80px;background:url(../images/home/snow_bg.gif)}
.header {position:relative; height:80px; max-width: 1080px; margin: 0 auto;}
.header h1{position:relative; top:12px; left:35px; float:left}
.header h1 a.logo{display:block;background:url(../images/home/MOCA_CI.svg)no-repeat;  width:136px; height:43px; text-indent:-9999px; float:left}
.header h1 a.banner{display:block;background:url(../images/home/christmas.gif)no-repeat;  width:43px; height:46px; background-size:98px; text-indent:-9999px; float:right; background-position:-28px -15px;}

.header .btn_area{position:relative; top:25px; right:35px}
.header .message{text-align: center; display: block; top: 18px; position: relative; font-weight: bold; font-size: 21px;}
.kakaoLogin{display:block; position:relative;  padding:0 8px; background: #fee500; height: 30px; border-radius: 5px; font-size: 12px; font-weight:bold; color: #181600; line-height: 30px; text-align: center;}
.kakaoLogin i{display:inline-block; position:relative; width: 14px; height:14px; background:url(../images/home/ico_kakao.png)no-repeat; top:3px;}
.btn_Erp{display: block; position: relative; width:60px; height:30px; line-height:30px; box-sizing:border-box; font-size: 11px; text-align: center; cursor: pointer; background: linear-gradient(135deg, #49acc7 0%, #4e5da2 100%); border-radius: 20px; color: #fff; font-weight: bold}
.btn_Erp i{font-size:10px}
.loginInfo{max-width: 90px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;color: #4e81b2; display: block; position: relative;box-sizing:border-box; height:30px; font-size: 11px; text-align: center; cursor:pointer; border: 1px solid #4e81b2; padding: 5px 10px; border-radius: 20px;}
.item {width: 100%; height: 340px; background:url(../images/home/item.jpg) no-repeat; background-size: cover; background-position: center center;}
.container .item > p{position: relative; top: 15%; width: 700px; margin: 0 auto; padding: 15px 0; text-align: center; font-size: 35px; color: #fff}
.container .item > p.item_title{border: 5px solid rgba(255, 255, 255, 0.5); line-height: 52px}
.container .mocaBox .main_img p e{color:#ebd852}
.container .quote:before{content:''; display:inline-block; width:60px; height:60px; background:url(../images/home/ico_quote_left.png)center center no-repeat; opacity:0.5}
.container .quote:after{content:''; display:inline-block; width:60px; height:60px; background:url(../images/home/ico_quote_right.png)center center no-repeat; opacity:0.5}
.container .main_box {max-width:1080px; height:290px; margin:0 auto; position:relative}
.container .main_box > button.arrow_left{font-size: 65px; color: #a3cee2; position:absolute; top:90px; left:-50px}
.container .main_box > button.arrow_right{font-size: 65px; color: #a3cee2; position:absolute; top:90px; right:-50px}
.container .main_box > .td{height:100%; position:relative; width:25%; padding:20px; box-sizing:border-box; font-size:17px; font-weight:700; text-align:center; line-height:1.3; letter-spacing:-1px}
.container .main_box > .td .label{width: 75%; height: 27px; border-radius: 30px; background: #95c0d5; text-align: center; font-size: 14px; font-weight: 100; letter-spacing: -1px; color: #fff; line-height: 27px; position: absolute;left: 12%; top: -15px}
.container .main_box > .td p{text-align:left; word-break:keep-all; font-weight:normal; font-size:14px}
.container .main_box > .td p:before{content:''; display:block; position:relative; width:140px; height:140px; margin:10px auto 15px; background:url(../images/home/main_box.png)no-repeat 0 0; background-color:#fff; border-radius:50%}
.container .main_box > .td p > i {text-align:center; display:block; margin: 0 auto 15px; color: #5599c7; font-size: 13px;}
.container .main_box > .td p.img1:before{background-position:center 15px;}
.container .main_box > .td p.img2:before{background-position:center -105px}
.container .main_box > .td p.img3:before{background-position:center -225px}
.container .main_box > .td p.img4:before{background-position:center -345px}
.container .main_box > .td p.img5:before{background-position:center -465px}
.container .main_box > .td p.img6:before{background-position:center -585px}

.container .main_box > .td:nth-child(1), .container .main_box > .td:nth-child(3){background:#fbf5e0}

.container .main_box > .td:nth-child(2), .container .main_box > .td:nth-child(4){background:#e5ecf0}
.container .main_box > .td:nth-child(2) p:before, .container .main_box > .td:nth-child(4) p:before{background-color:#fff}

.container .mocaBox > div{max-width:1080px; margin:0 auto;}
.container .mocaBox .left{float:left; width:50%; }
.container .mocaBox .main_img{position:relative;color:#fff; background:#627987; padding:20px; box-sizing:border-box}
.container .mocaBox .main_img h3{font-size:20px; font-weight:normal; }
.container .mocaBox .main_img h4{font-weight:normal;}
.container .mocaBox .main_img h3 e{font-weight:bold}
.container .mocaBox .main_img p{position: absolute; text-align: right; right: 20px; width: 300px;top: 106px; font-size:15px; word-break:keep-all}
.container .mocaBox .logo_next{height: 44px;display: inline-block; width: 3px;}
.container .mocaBox .main_img .mainSvg svg{width:100%;position:relative; height:100%; top:10px; left:-10px;}
.container .mocaBox .main_img a.btn_more{font-size:18px; color:#fff; text-decoration:underline; font-weight:400}
.container .mocaBox .main_img a.btn_more:after{content:''; display:inline-block; position:relative; top:2px; left:5px; width:20px; height:20px; background:url(../images/home/ico_plus.png)no-repeat; margin-left:5px}
.container .mocaBox a.btn{display:block; width: 300px; height: 45px; margin: 0 auto; font-size: 20px; color: #eee; text-align:center; background: #3fbda7 no-repeat 27% 50%; background-image:url(../images/home/ico_play.png); line-height: 45px; border-radius: 5px; text-indent:20px; opacity:0.9; cursor:pointer}
.container .mocaBox a.btn:hover, .container .mocaBox > a.btn:active{opacity:1}
.container .mocaBox .main_img2{background:url(../images/home/main_img2.png)no-repeat;}
.container .mocaBox .main_banner {height:100%}
.container .mocaBox .main_banner .banner_box{height:25%;font-size:14px; position:relative; }

.container .mocaBox .main_banner .banner_box:nth-child(1){height:24%;background-color:#cde3aa; border-bottom: 1px solid #fff;background-image:url(../images/home/main_bn1.png?v=1);background-repeat: no-repeat; background-position:bottom;}
.container .mocaBox .main_banner .banner_box:nth-child(2){background-color:#edeadf; border-bottom: 1px solid #fff;background-image:url(../images/home/main_bn2.png?v=1);background-repeat: no-repeat}
.container .mocaBox .main_banner .banner_box:nth-child(3){height:31%;background-color:#d6e4ea; border-bottom: 1px solid #fff;background-image:url(../images/home/main_bn3.png?v=1); background-size: 100%; background-position: bottom;background-repeat: no-repeat}
.container .mocaBox .main_banner .banner_box:nth-child(4){height:20%;background-color:#aae8e9;background-position:bottom; border-bottom: 1px solid #fff;background-image:url(../images/home/main_bn4.png?v=1.1);background-repeat: no-repeat}
.container .mocaBox .main_banner .banner_box:nth-child(1) > div{width:55%; height:100%; float:right}
.container .mocaBox .main_banner .banner_box:nth-child(2) > div{width:57%; height:100%; float:left}
.container .mocaBox .main_banner .banner_box:nth-child(3) > div{width:100%; height:100%; float:right}
.container .mocaBox .main_banner .banner_box:nth-child(4) > div{width:55%; height:100%; float:right}
.container .mocaBox .main_banner .banner_box p{ word-break:keep-all; background: rgba(0,0,0,0.1); color:#666060; box-sizing: border-box; position: relative;top: 33%; padding: 20px;}
.container .mocaBox .main_banner .banner_box:nth-child(1) p{top:5%;color:#fff}
.container .mocaBox .main_banner .banner_box:nth-child(2) p{top:23%;background: rgba(255,255,255,0.2); color: #2d424a}
.container .mocaBox .main_banner .banner_box:nth-child(3) p{top:0;background:rgba(255,255,255,0.4);color:#506e7a}
.container .mocaBox .main_banner .banner_box:nth-child(4) p{top:17%;background: rgba(255,255,255,0.6); color: #448789}

.container .mocaBox .main_banner .banner_box p e{font-weight:bold}

.container .mocaBox .main_banner .banner_box .bannerImg{background:url(../images/home/main_img3.png)no-repeat; display:inline-block; position:relative;}
.container .mocaBox .main_banner .banner_box .bannerImg.img1{width: 100px; height: 70px;background-position: -8px -6px; margin:20px 30px}
.container .mocaBox .main_banner .banner_box .bannerImg.img2{width:100px; height:70px; background-position:-10px -80px;  margin:7%}
.container .mocaBox .main_banner .banner_box .bannerImg.img3{width: 100%; height: 127px; background-position: right -265px; position: absolute; bottom:0; right:0}
.container .mocaBox .main_banner .banner_box .bannerImg.img4{width:142px; height:96px; background-position:0 -150px; margin:8%}
.mocastep {width: calc(50% - 5px);  position: relative; box-sizing: border-box; border-radius: 0 10px 0px 10px; border-top: 0; height: 120px; border: 1px solid #eae7e7;}
.mocastep:last-child{margin-right:0}
.mocastep.step1{ background:#f5cd6d; margin-right:5px}
.mocastep.step2{ background:#95c0d5; margin-left:5px}
.mocastep.step3{ background:#e9c369; }
.mocastep.step4{ background:#d1c4f3; }
.container .contBox{height:189px; background:#ddd}
.container .contBox > div{max-width:1080px; margin:0 auto; position:relative}

.componentImg{height:750px}
.container .col5{width:50%; float:left; height:100%; overflow:hidden; ; box-sizing:border-box}
.container .col5 .content{padding:20px 20px 0;background:#f8f8f8; float:left; width:100%; box-sizing:border-box}
.container .col5 .content.support:last-child{padding-bottom:20px}
.container .contBox .col5.left{border-right: 1px dashed #c5c5c5; box-sizing: border-box;}
.container .contBox .col5.right{padding-left: 15px; box-sizing: border-box;}

.footer{position:absolute; left:0; right:0; background:#434343; font-size:20px; color:#bbb}
.footer .f_content{position: relative; padding:0 40px; max-width:1080px; margin:0 auto;overflow: hidden; box-sizing: border-box}
.footer .f_content h2{float:left; margin-right:15px; padding:20px 0}
.footer .f_content p{word-break:keep-all;display:inline-block; float:left; position:relative; top:19px; font-size:11px;}
.footer .f_content p > span:first-child{margin-right:10px}
.footer .f_content div.f_tel{position:relative; float:right; font-size:15px; padding: 24px 0 20px 24px; margin-left: 20px}
.footer .f_content div.f_tel img{width:40px; height:40px; float:left; margin-right:7px}
.footer .f_content div.f_tel span{ margin:0 5px}
.footer .f_content div.f_tel .title{font-weight:700}
.footer .f_content div.f_tel > div { float:right}
.footer .f_content div.f_tel a{float:left; color:#fff; margin-right:6px; font-weight:bold}
.f_point{color:#3fbda7 !important;}

/*메인 _ 게시판*/
.boardArea .col5:nth-child(1){margin-bottom:0; background:#e2f0f7}
.boardArea .col5:nth-child(2){margin-bottom:0; background:#f7f3e2}

.boardArea .boardMore{line-height:24px}
.boardArea .col5:nth-child(1) .boardHeader{background: rgba(255,255,255,0.7); padding: 5px 10px; border-bottom: 1px solid #91afbf; border-radius:5px}
.boardArea .col5:nth-child(2) .boardHeader{background: rgba(255,255,255,0.7); padding: 5px 10px; border-bottom: 1px solid #b7af8d; border-radius:5px}
.boardArea .col5:nth-child(2) .boardTitle > i, .boardArea .col5:nth-child(2) .boardMore{}
.boardTable table {margin-top:10px; width:100%}
.boardTable .notice{border-top: 2px solid #5f80c7; padding:5px 10px}
.boardTable .notice > div > img{width:calc(100% - 15px); margin:5px 15px 7px 0; box-shadow:1px 1px 2px rgba(0,0,0, 10%)}
.boardTable .noticeTitle{font-size:15px; font-weight:bold; font-size: 15px; font-weight: bold;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.boardTable .noticeDetail{height:70px; text-overflow: ellipsis}
.boardTitle{font-weight:bold; font-size:15px; position:relative}
.btn_guide{ position:absolute; top:3px; right:20px; font-size: 10px; font-weight:bold; display: inline-block; color:#333; text-align:center;background: #fff; border: 1px solid #bbb; border-radius: 3px; padding:8px 8px 8px 27px} 
.btn_guide > i{position:absolute; left:8px; color: #af4b4b; margin-right:5px; text-align: center;font-size: 16px;background: #fff; border: 0}
.develop h3{font-size: 11px; font-weight: 400; display: inline-block; color: #0079c2; font-weight: bold;}
.develop h3 > span.eng{color: #a0a0a0; font-weight: 300; font-size: 10px; margin-left: 5px}
.support h3{font-size: 11px; font-weight: 400; display: inline-block; color: #00436b; padding: 2px; font-weight: bold;}
.support h3 > span.eng{color: #a0a0a0; font-weight: 300; font-size: 10px; margin-left: 5px}
.boardTitle > i{color:#a8c2cf; margin:0 5px}
.boardTable .notice + .boardList{border-top:1px solid #ddd}
.develop .boardList {width:100%; margin-top:0px; border-top:2px solid #5f80c7}
.support .boardList {width:100%; margin-top:0px; border-top:2px solid #6c8594}
.boardList tr {height:24px; line-height:24px; font-size:14px; border-bottom:1px dashed #bdbbbb}
.boardList tr > td {text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding-left:10px; max-width:100px;}
.boardList tr > td:last-child{padding-right:10px}
.boardList tr > td.bdTitle{ position:relative}
.noticeDetail:hover, .boardList tr > td.bdTitle:hover{text-decoration:underline; cursor:pointer}
.develop .boardMore{color: #0079c2; padding:2px 5px; margin-top:3px; font-weight:bold; margin-right:5px}
.support .boardMore{color: #00436b; padding:2px 5px; margin-top:3px; font-weight:bold; margin-right:5px}
.boardMore > i {margin-right:3px;} 

.mainicon2{background:url(../images/home/moca_icon2.png);width:50px; height:50px; display:inline-block; position:absolute; right:10px; bottom:10px }
.mainicon2.img1{background-position:0 0}
.mainicon2.img2{background-position:-50px 0}
.mainicon2.img3{background-position:-100px 0}
.mainicon2.img4{background-position:-150px 0}

.subpage{min-width:inherit}
.subpage .header{height:60px}
.subpage .header h1{ top: 15px;}
 .subpage .header h1 a {background-size:70%}
   
.subpage .mocaComp .mainComp{padding:20px 20px 0; text-align:center;}
.subpage .mocaComp .mainComp img:last-child{margin-bottom:20px}
.subpage .mocaComp h3{font-size:30px; margin-bottom:16px}
.subpage .mocaComp h3:before{content:''; display:block; width:55px; height:5px; background:#3175c8; border-radius:5px; margin:0 auto 10px}
.subpage .mocaComp .compExplan{padding:20px}
.subpage .mocaComp .compExplan > div {padding:10px 0; border-top:1px solid #ddd}
.subpage .mocaComp .compExplan > div:first-child{border-top:0}
.subpage .mocaComp .compExplan ul li{margin:0 20%; text-align:left}
.subpage .mocaComp .imgbd{width: 100%; max-width: 750px; /*box-shadow: 0px 0px 4px rgba(0,0,0,0.3);*/border-radius:3px; display:block; margin:0 auto 5px}
.subpage .mocaComp .tit{margin: 0px 20% 0px; text-align:left}
.subpage .mocaComp a.btn{display:block; width: 300px; height: 45px; margin: 0 auto; font-size: 20px; color: #eee; background: #3fbda7 no-repeat 27% 50%; background-image:url(../images/home/ico_play.png); line-height: 45px; border-radius: 5px; text-indent:20px; opacity:0.9; cursor:pointer}
.subpage .mocaComp a.btn:hover, .container .mocaGrid > a.btn:active{opacity:1}
.subpage .mocaComp ul{margin-bottom:10px}
.subpage .mocaComp ul li{font-size:15px; margin: .25rem 0 .25rem 1.625rem;}
.subpage .mocaComp ul li:before{content:''; display:inline-block; position:relative; top:-4px; width:8px; height:2px; background:#0072bc; margin-right:5px}
.subpage .mocaComp ul li > p {text-indent:13px}
.subpage .mocaComp ul li > p.txt_dot:before{content: ''; display: inline-block; width: 3px; height: 3px; position: relative; top: -3px; margin-right: 5px; border-radius: 50% 50%; background: #0072bc;}
.subpage .mocaComp table.grid .imgbd{width: 100%; max-width: 1000px; box-shadow: 0px 0px 4px rgba(0,0,0,0.3);border-radius:3px; display:block; margin:0 auto 5px}
.subpage .mocaComp .number{position: relative; display: inline-block; top: -2px; margin-right: 5px; width: 19px; height: 19px; background: #0072bc; border-radius: 2px; color: #fff; font-weight: bold; text-align: center}
.subpage .mocaComp .subject{font-size:13px; color:#333; font-weight:bold}

.shapedividers_com-4134{
	overflow:hidden;
	position:relative;
}
.shapedividers_com-4134::before{
	content:'';
	font-family:'shape divider from ShapeDividers.com';
	position: absolute;
	bottom: -1px;
	left: -1px;
	right: -1px;
	top: -1px;
	z-index:-1;
	pointer-events: none;
	background-repeat: no-repeat; 
	background-size: 100% 90px;
	background-position: 50% 0%;    
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 76.2" preserveAspectRatio="none"><g fill="%23d2dee4"><path d="M381 76.2l-12.7-8.47c-12.7-8.46-38.1-25.4-63.5-28.23-25.4-2.72-50.8 8.39-76.2 5.66-25.4-2.83-50.8-19.76-76.2-18.36-25.4 1.51-50.8 21.09-76.2 28.23-25.4 7.15-50.8 1.33-63.5-1.4L0 50.8V0h381z"/><path d="M381 67.73l-12.7-4.23c-12.7-4.23-38.1-12.7-63.5-12.7s-50.8 8.47-76.2 7.06c-25.4-1.5-50.8-12.62-76.2-11.3-25.4 1.33-50.8 15.62-76.2 21.17-25.4 5.56-50.8 2.91-63.5 1.4L0 67.74V0h381z" opacity=".66"/></g></svg>'); 
}
@media (min-width:1025px){
	.shapedividers_com-4134::before{ 
		z-index:-1;
		bottom: -0.1vw;
		left: -0.1vw;
		right: -0.1vw;
		top: -0.1vw; 
		background-size: 169% 400px;
		background-position: 50% 0%; 
		transform: rotateY(180deg); 
		background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 76.2" preserveAspectRatio="none"><g fill="%23d2dee4"><path d="M381 76.2l-12.7-8.47c-12.7-8.46-38.1-25.4-63.5-28.23-25.4-2.72-50.8 8.39-76.2 5.66-25.4-2.83-50.8-19.76-76.2-18.36-25.4 1.51-50.8 21.09-76.2 28.23-25.4 7.15-50.8 1.33-63.5-1.4L0 50.8V0h381z"/><path d="M381 67.73l-12.7-4.23c-12.7-4.23-38.1-12.7-63.5-12.7s-50.8 8.47-76.2 7.06c-25.4-1.5-50.8-12.62-76.2-11.3-25.4 1.33-50.8 15.62-76.2 21.17-25.4 5.56-50.8 2.91-63.5 1.4L0 67.74V0h381z" opacity=".66"/></g></svg>'); 
	}
}

/*홈페이지*/
@media all and (max-width:1279px) {
	.header .btn_area{right:10px}
	.container .main_box > .td:nth-child(3){background:#e5ecf0; clear:left}
	.container .main_box > .td:nth-child(3) p:before{background-color:#fff}
	.container .main_box > .td:nth-child(1), .container .main_box > .td:nth-child(4){background:#fbf5e0}
	.container .main_box > .td:nth-child(1) p:before, .container .main_box > .td:nth-child(4) p:before{background-color:#fff}
	.container .main_box > .td p{font-size:13px}
	.container .mocaBox{height:100%; overflow:hidden}
	.container .col5{width:100% !important}
	.container .componentImg .col5:nth-child(2){height:635px; margin-bottom:10px}
	.componentImg{height:auto}
	.container .mocaBox .main_img h3{font-size:18px; position: relative; line-height: 18px; top: -3px;}
	.container .mocaBox .main_img .mainSvg svg{top:22px}
	.container .main_box{height:230px}
	.container .main_box > .td{width:50%; padding:10px 15px; height:290px}
	.container .mocaBox .main_banner .banner_box:nth-child(1){height:20%;background-position:left bottom; background-size:125%}
	.container .mocaBox .main_banner .banner_box:nth-child(1) p{top:8%}
	.container .mocaBox .main_banner .banner_box:nth-child(2){height:29%;background-position: -53px; background-size: 115%;}
	.container .mocaBox .main_banner .banner_box:nth-child(4){height:20%;background-position:0 bottom;background-size:100%; min-height:128px}
	.container .mocaBox .main_banner .banner_box:nth-child(4) p{top:8%}
	.container .mocaBox .main_banner .banner_box:nth-child(4) > div{width:70%}
	.container .mocaBox .main_banner .banner_box:nth-child(2) p{top:1.2em}
	.container .mocaBox .main_banner .banner_box .bannerImg.img4{top:11%}
	.container .main_box > .td:nth-child(1),.container .main_box > .td:nth-child(2){padding-bottom:45px}
	.container .main_box > .td:nth-child(3),.container .main_box > .td:nth-child(4){height:305px}
	.container .main_box > .td:nth-child(3):before, .container .main_box > .td:nth-child(4):before{content: ''; display: block; border-top: 2px solid #79a6ba; top: 0; position: absolute; left: -10px; right: -10px;}
	.container .main_box > .td p > i{display:none}
	.container .main_box > .td p > e{display:block}
	.container .main_box > .td p{word-break: keep-all;}
	.wrapper{min-width:unset;background:none}
	.mocastep{width:100%; height:130px; margin-bottom:10px;}
	.container .mocaBox .main_img p{width:230px; font-size:13px}
	.container .mocaBox .main_img2 img{width:100%; height:100%}
	.mocastep.step2{margin-left:0; margin-bottom:0}
	
	.footer .f_content div.f_tel{font-size: 14px}
	.f_content e{display:block}
}
 
 
 lease put this CSS in your css file or html head.
.custom-shape-divider-top-1637563327 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1637563327 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 177px;
}

.custom-shape-divider-top-1637563327 .shape-fill {
    fill: #fff;
}
	