@charset "UTF-8";

/* 웹폰트 CSS */

@font-face {font-family: 'Spoqa Han Sans';  font-weight: 400; src: local('Spoqa Han Sans Regular'),  url('../fonts/SpoqaHanSansRegular.woff') format('woff'), url('../fonts/SpoqaHanSansRegular.woff2') format('woff2'), url('../fonts/SpoqaHanSansRegular.eot') format('eot')}

body {position:relative; font:11.5px 'Spoqa Han Sans','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif; color:#555}
select, input, button {font:11.5px 'Spoqa Han Sans','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif; color:#555}
.fr{float:right !important;}
.fl{float:left !important;}
.tfr{text-align:right !important;}
.tfl{text-align:left !important;}
.tfc{text-align:center !important;}
.fc_mint{color:#55c7c6 !important;}
.fc_red{color:#e64747 !important;}
.mr5{margin-right:5px}
.wrapper{position:relative; height:100%; min-width:800px}
.container{position:relative;border-top: 2px solid #6397af; overflow:inherit}
.header {height:80px; max-width: 1080px; margin: 0 auto;}
.header h1{position:relative; top:13px; left:35px; float:left}
.header h1 a{display:block;background:url(../images/home/MOCA_CI.png)no-repeat;  width:150px; height:50px; text-indent:-9999px}
.header .message{text-align: center; display: block; top: 18px; position: relative; font-weight: bold; font-size: 21px;}
.item {width: 100%; height: 340px; background:url(../images/home/item.jpg) no-repeat; background-size: cover; background-position: center center;}
.container .item > p{position: relative; top: 15%; width: 700px; margin: 0 auto; padding: 15px 0; text-align: center; font-size: 35px; color: #fff}
.container .item > p.item_title{border: 5px solid rgba(255, 255, 255, 0.5); line-height: 52px}
.container .quote:before{content:''; display:inline-block; width:60px; height:60px; background:url(../images/home/ico_quote_left.png)center center no-repeat; opacity:0.5}
.container .quote:after{content:''; display:inline-block; width:60px; height:60px; background:url(../images/home/ico_quote_right.png)center center no-repeat; opacity:0.5}
.container .main_box {max-width:1080px; height:290px; margin:0 auto; position:relative}
.container .main_box > button.arrow_left{font-size: 65px; color: #a3cee2; position:absolute; top:90px; left:-50px}
.container .main_box > button.arrow_right{font-size: 65px; color: #a3cee2; position:absolute; top:90px; right:-50px}
.container .main_box table{height:100%}
.container .main_box td{position:relative; padding:20px 30px; font-size:17px; font-weight:700; text-align:center; line-height:1.3; letter-spacing:-1px}
.container .main_box td.bg {background:#e5ecf0}
.container .main_box td .label{width: 75%; height: 27px; border-radius: 30px; background: #95c0d5; text-align: center; font-size: 14px; font-weight: 100; letter-spacing: -1px; color: #fff; line-height: 27px; position: absolute;left: 12%; top: -15px}
.container .main_box td p{height: 204px; word-break:break-word; font-weight:normal; font-size:15px}
.container .main_box td p:before{content:''; display:block; position:relative; width:140px; height:140px; margin:10px auto 15px; background:url(../images/home/main_box.png)no-repeat 0 0; background-color:#e5ecf0; border-radius:50%}
.container .main_box td.bg p:before{background-color:#fff}
.container .main_box td p > i {display:block; margin: 0 auto 15px; color: #5599c7; font-size: 13px;}
.container .main_box tr td p.img1:before{background-position:center 15px;}
.container .main_box tr td p.img2:before{background-position:center -105px}
.container .main_box tr td p.img3:before{background-position:center -225px}
.container .main_box tr td p.img4:before{background-position:center -345px}
.container .main_box tr td p.img5:before{background-position:center -465px}
.container .main_box tr td p.img6:before{background-position:center -585px}
.container .mocaBox > div{max-width:1080px; margin:0 auto;}
.container .mocaBox .left{float:left; width:50%; }


.container .mocaBox .main_img{color:#fff; background:#78d0d9; padding:20px; box-sizing:border-box}
.container .mocaBox .main_img h3{font-size:22px; font-weight:400}
.container .mocaBox .main_img .mainSvg svg{width:100%;position:relative; height:100%; top:25px; left:-10px;}
.container .mocaBox .main_img a.btn_more{font-size:18px; color:#fff; text-decoration:underline; font-weight:400}
.container .mocaBox .main_img a.btn_more:after{content:''; display:inline-block; position:relative; top:2px; left:5px; width:20px; height:20px; background:url(../images/home/ico_plus.png)no-repeat; margin-left:5px}
.container .mocaBox a.btn{display:block; width: 300px; height: 45px; margin: 0 auto; font-size: 20px; color: #eee; text-align:center; background: #3fbda7 no-repeat 27% 50%; background-image:url(../images/home/ico_play.png); line-height: 45px; border-radius: 5px; text-indent:20px; opacity:0.9; cursor:pointer}
.container .mocaBox a.btn:hover, .container .mocaBox > a.btn:active{opacity:1}

.mocastep {width: calc(25% - 7.6px);  position: relative; box-sizing: border-box; margin-right:10px; border-radius: 0 10px 0px 10px; border-top: 0; height: 150px; border: 1px solid #eae7e7;}
.mocastep:last-child{margin-right:0}
.mocastep.step1{ background:#28c4aa; }
.mocastep.step2{ background:#4665b1; }
.mocastep.step3{ background:#72629b; }
.mocastep.step4{ background:#f16170; }
.container .contBox{height:189px; background:#ddd}
.container .contBox > div{max-width:1080px; margin:0 auto; position:relative}

.componentImg{height:851px}
.container .col5{width:50%; float:left; height:100%; overflow:hidden; ; box-sizing:border-box}
.container .col5 .content{padding:20px 20px 0;background:#f8f8f8; float:left; width:100%; box-sizing:border-box}
.container .col5 .content.support:last-child{padding-bottom:20px}
.container .contBox .col5.left{border-right: 1px dashed #c5c5c5; box-sizing: border-box;}
.container .contBox .col5.right{padding-left: 15px; box-sizing: border-box;}


/*div팝업 홈페이지 예외적용*/
.moca_popup{height:auto !important; top:0; /*position:fixed;*/ background:#3a669a}
.moca_popup .moca_popup_body{position:static}
.PopSumm tr{background:#fff}


.footer{position:absolute; left:0; right:0; background:#434343; font-size:17px; color:#bbb}
.footer .f_content{position: relative; padding:0 65px; max-width:1080px; margin:0 auto;overflow: hidden; box-sizing: border-box}
.footer .f_content h2{float:left; margin-right:25px; padding:20px 0}
.footer .f_content p{display:inline-block; float:left; position:relative; top:19px; font-size:12px;}
.footer .f_content p > span:first-child{margin-right:10px}
.footer .f_content div.f_tel{position:relative; float:right; padding: 24px 0 24px 20px; margin-left: 20px}
.footer .f_content div.f_tel img{width:40px; height:40px; float:left; margin-right:7px}
.footer .f_content div.f_tel span{ margin:0 5px}
.footer .f_content div.f_tel .title{font-weight:700}
.footer .f_content div.f_tel > div { float:right}
.footer .f_content div.f_tel a{float:left; color:#fff; margin-right:6px; font-weight:bold}
.f_point{color:#3fbda7 !important;}

/*메인 _ 게시판*/
.boardTable{margin-top:10px}
.boardTable .notice{border-top: 2px solid #5f80c7; padding:5px 10px}
.boardTable .notice > div > img{width:calc(100% - 15px); margin:5px 15px 7px 0; box-shadow:1px 1px 2px rgba(0,0,0, 10%)}
.boardTable .noticeTitle{font-size:15px; font-weight:bold; font-size: 15px; font-weight: bold;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.boardTable .noticeDetail{height:70px; text-overflow: ellipsis}
.boardTitle{font-weight:bold; font-size:15px; position:relative}
.btn_guide{ position:absolute; top:3px; right:20px; font-size: 10px; font-weight:bold; display: inline-block; color:#333; text-align:center;background: #fff; border: 1px solid #bbb; border-radius: 3px; padding:8px 8px 8px 27px} 
.btn_guide > i{position:absolute; left:8px; color: #af4b4b; margin-right:5px; text-align: center;font-size: 16px;background: #fff; border: 0}
.develop h3{font-size: 11px; font-weight: 400; display: inline-block; color: #0079c2; font-weight: bold;}
.develop h3 > span.eng{color: #a0a0a0; font-weight: 300; font-size: 10px; margin-left: 5px}
.support h3{font-size: 11px; font-weight: 400; display: inline-block; color: #00436b; padding: 2px; font-weight: bold;}
.support h3 > span.eng{color: #a0a0a0; font-weight: 300; font-size: 10px; margin-left: 5px}
.develop .boardTitle > i{color:#5f80c7; margin:0 5px}
.support .boardTitle > i{color:#216188; margin:0 5px}
.boardTable .notice + .boardList{border-top:1px solid #ddd}
.develop .boardList {width:100%; margin-top:0px; border-top:2px solid #5f80c7}
.support .boardList {width:100%; margin-top:0px; border-top:2px solid #6c8594}
.boardList tr {height:24px; line-height:24px; font-size:14px}
.boardList tr > td {text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding-left:10px; max-width:100px;}

.boardList tr > td:last-child{padding-right:10px}
.boardList tr > td.bdTitle{ position:relative}
.noticeDetail:hover, .boardList tr > td.bdTitle:hover{text-decoration:underline; cursor:pointer}
.develop .boardMore{color: #0079c2; padding:2px 5px; margin-top:3px; font-weight:bold; margin-right:5px}
.support .boardMore{color: #00436b; padding:2px 5px; margin-top:3px; font-weight:bold; margin-right:5px}
.boardMore > i {margin-right:3px;} 

.mainicon2{background:url(../images/home/moca_icon2.png);width:50px; height:50px; display:inline-block; position:absolute; right:10px; bottom:10px }
.mainicon2.img1{background-position:0 0}
.mainicon2.img2{background-position:-50px 0}
.mainicon2.img3{background-position:-100px 0}
.mainicon2.img4{background-position:-150px 0}

.subpage{min-width:inherit}
.subpage .header{height:60px}
.subpage .header h1{ top: 11px;}
 .subpage .header h1 a {background-size:70%}
   
.subpage .mocaComp .mainComp{padding:20px; text-align:center;}
.subpage .mocaComp .mainComp img:last-child{margin-bottom:20px}
.subpage .mocaComp h3{font-size:30px}
.subpage .mocaComp h3:before{content:''; display:block; width:55px; height:5px; background:#3175c8; border-radius:5px; margin:0 auto 10px}
.subpage .mocaComp .compExplan{padding:20px}
.subpage .mocaComp .compExplan > div {padding:10px 0; border-top:1px solid #ddd}
.subpage .mocaComp .compExplan > div:first-child{border-top:0}
.subpage .mocaComp .compExplan ul li{margin:0 20%; text-align:left}
.subpage .mocaComp .imgbd{width: 100%; max-width: 1000px; box-shadow: 0px 0px 4px rgba(0,0,0,0.3);border-radius:3px; display:block; margin:0 auto 5px}
.subpage .mocaComp .tit{margin: 0px 20% 10px; text-align:left}
.subpage .mocaComp a.btn{display:block; width: 300px; height: 45px; margin: 0 auto; font-size: 20px; color: #eee; background: #3fbda7 no-repeat 27% 50%; background-image:url(../images/home/ico_play.png); line-height: 45px; border-radius: 5px; text-indent:20px; opacity:0.9; cursor:pointer}
.subpage .mocaComp a.btn:hover, .container .mocaGrid > a.btn:active{opacity:1}
.subpage .mocaComp ul{margin-bottom:10px}
.subpage .mocaComp ul li{font-size:15px; margin: .25rem 0 .25rem 1.625rem;}
.subpage .mocaComp ul li:before{content:''; display:inline-block; position:relative; top:-4px; width:8px; height:2px; background:#0072bc; margin-right:5px}
.subpage .mocaComp ul li > p {text-indent:13px}
.subpage .mocaComp ul li > p.txt_dot:before{content: ''; display: inline-block; width: 3px; height: 3px; position: relative; top: -3px; margin-right: 5px; border-radius: 50% 50%; background: #0072bc;}
.subpage .mocaComp table.grid .imgbd{width: 100%; max-width: 1000px; box-shadow: 0px 0px 4px rgba(0,0,0,0.3);border-radius:3px; display:block; margin:0 auto 5px}
.subpage .mocaComp .number{position: relative; display: inline-block; top: -2px; margin-right: 5px; width: 19px; height: 19px; background: #0072bc; border-radius: 2px; color: #fff; font-weight: bold; text-align: center}
.subpage .mocaComp .subject{font-size:13px; color:#333; font-weight:bold}



/*홈페이지*/
@media all and (max-width:1279px) {
	/*
	.container .col5{width:100%}
	.componentImg{height:auto}
	*/
}

.shapedividers_com-4134{
overflow:hidden;
position:relative;
}
.shapedividers_com-4134::before{

content:'';
font-family:'shape divider from ShapeDividers.com';
position: absolute;
bottom: -1px;
left: -1px;
right: -1px;
top: -1px;
z-index: 3;
pointer-events: none;
background-repeat: no-repeat; 
background-size: 100% 90px;
background-position: 50% 0%;    
background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbd8c2"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbd8c2"/></svg>'); 
}

@media (min-width:768px){
.shapedividers_com-4134::before{
background-size: 100% 90px;
background-position: 50% 0%;   
}  
}
 
@media (min-width:1025px){
.shapedividers_com-4134::before{ 
z-index:-1;
bottom: -0.1vw;
left: -0.1vw;
right: -0.1vw;
top: -0.1vw; 
background-size: 169% 400px;
background-position: 50% 0%; 
transform: rotateY(180deg); 
background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 76.2" preserveAspectRatio="none"><g fill="%23d2dee4"><path d="M381 76.2l-12.7-8.47c-12.7-8.46-38.1-25.4-63.5-28.23-25.4-2.72-50.8 8.39-76.2 5.66-25.4-2.83-50.8-19.76-76.2-18.36-25.4 1.51-50.8 21.09-76.2 28.23-25.4 7.15-50.8 1.33-63.5-1.4L0 50.8V0h381z"/><path d="M381 67.73l-12.7-4.23c-12.7-4.23-38.1-12.7-63.5-12.7s-50.8 8.47-76.2 7.06c-25.4-1.5-50.8-12.62-76.2-11.3-25.4 1.33-50.8 15.62-76.2 21.17-25.4 5.56-50.8 2.91-63.5 1.4L0 67.74V0h381z" opacity=".66"/></g></svg>'); 
}
}
@media (min-width:2100px){
.shapedividers_com-4134::before{
background-size: 169% calc(2vw + 400px);
}
}
 
 
 
	